[2021-12-09 18:32] aardappel commented on #6978
@vaind @dnfield

[2021-12-09 18:36] aardappel commented on #6979
Hmm not sure, maybe @dbaileychess ?

[2021-12-09 18:40] aardappel commented on #6980
Related: https://github.com/google/flatbuffers/issues/5371

You may also want to ask on the tf/tflite repo.

[2021-12-09 18:43] aardappel commented on #5930
@baqwas again, this has been fixed in FlatBuffers, so ask about it on the tf/tflite repo.. they need to upgrade. Or force disable `-Werror`.

[2021-12-09 18:53] dnfield commented on #6978
This is a fundamental limitation on JS. I don't think we should try to fix this or work around it in flatbuffers. I'm a bit curious about what the JS implemenation of flatbuffers does though.

[2021-12-09 18:54] vaind commented on #6978
The issue is, as you can see from where the error is thrown, that JavaScript doesn't support 64-bit integers, or rather no higher than `2^53 - 1`

From a quick search, protobuf may be using [Int64](https://pub.dev/documentation/fixnum/latest/fixnum/Int64-class.html) class.

The options I see how 64-bits could be supported for dart2js:
* use some kind of wrapper class, e.g. the above-mentioned fixn

[2021-12-09 18:59] vaind commented on #6978
wrapper class

https://github.com/google/flatbuffers/blob/d0cede9c90c5257537c293517a21376408b549fa/ts/builder.ts#L580_L582
https://github.com/google/flatbuffers/blob/master/ts/long.ts
[code]

[2021-12-09 19:01] vaind commented on #6978
Besides, I wonder why dart SDK throws on `setInt64` - that should be safe to implement, right? We obviously have an integer that is in the limited range that JS can represent so why not just write it 🤔

[2021-12-09 19:25] baqwas commented on #5930
Thanks @aardappel for the prompt response. Will do as advised. Truly appreciate you indulgence.

Kind regards.

[2021-12-09 19:29] aardappel commented on #6978
Not sure what the right time is to start leaning on BigInts.. but they've been in JS for a while now.

[2021-12-09 19:33] vaind commented on #6978
Hmm, dart already does have those in the core... https://api.dart.dev/stable/2.6.1/dart-core/BigInt-class.html - that would be a good option

[2021-12-09 19:50] jjgmcken opened #6981 "Documentation for JSON Serialization in C# misleading"
https://google.github.io/flatbuffers/flatbuffers_guide_use_c-sharp.html

```An additional feature of the object API is the ability to allow you to serialize & deserialize a JSON text. To use Json Serialization, add --cs-gen-json-serializer option to flatc and add Newtonsoft.Json nuget package to csproj.```

The `--cs-gen-json-serializer` option on its own does not change the generated code (and th

[2021-12-09 20:29] dbaileychess commented on #6979
I'm unsure at first look, i never used (or even knew they existed) `flatbuffers_generated_headers`.

It seems to be a scoping thing of including the sub_directory? This might be more of a cmake question that flatbuffers.

[2021-12-09 21:06] dbaileychess commented on #6949
Added two tags:

https://github.com/google/flatbuffers/releases/tag/v2.0.5
https://github.com/google/flatbuffers/releases/tag/v2.0.5-last-supported-VS2010-12-13

[2021-12-09 21:45] dnfield commented on #6978
Dart used to transparently convert numbers to BigInts but stopped doing that in Dart 2.

I'm not really a dart2js expert. I don't know if that is unimplemented on typed data because no one has asked for it, or because it's been deemed harmful for some reason. At any rate, it would be better to have it fixed upstream in Dart and make it work here, or to just not have it work here for the same reaso

[2021-12-10 07:05] #6926 closed

[2021-12-10 11:54] vaind commented on #6909
BTW v2.0.5 final is released now, with `flatc` packaged in.

[2021-12-10 17:49] dbaileychess commented on #6428
So with the Lua generator converted over to using bfbs, the framework in place, and major gaps filled in the reflection.fbs I think we can proceed on converting more of the generators over.

[2021-12-12 02:09] judaew opened #6988 "flatbuffers doesn't build on macOS 10.15: `#error architecture not supported`"
flatbuffers doesn't build on macOS 10.15 as CMake tries to build a universal binary, but Xcode can't do it.

[code]

Most likely this issue occurs due to the fact that CMake enforces the architecture [in this line](https://github.com/google/flatbuffers/blob/b92bb0584d056cd237fa7059702e49617ee156b7/CMakeLists.txt#L285):

[code]

I think it would be great to add an option to turn off the forced arch

[2021-12-13 11:11] jlemein commented on #6979
Note that my variable is set to `PARENT_SCOPE`, which means that when calling the function `flatbuffers_generated_headers` all the information is there. I do also feel the issue is CMake related and specifically happens on line 261 in  `BuildFlatbuffers.cmake`, where an interface library is added: https://github.com/google/flatbuffers/blob/b92bb0584d056cd237fa7059702e49617ee156b7/CMake/BuildFlatBu

[2021-12-13 19:50] dbaileychess commented on #6988
I'm not a Mac user, but what other architectures are there? @vaind you added this check recently, any comment?

[2021-12-13 20:02] vaind commented on #6988
sounds reasonable, maybe even automatically based on xcode version?

only arm64 and x86_64 for macOS

[2021-12-13 21:06] judaew commented on #6988
Done, see https://github.com/google/flatbuffers/pull/6990. I tested this changes.

[2021-12-13 21:37] judaew commented on #6988
PR is merged

[2021-12-13 21:37] #6988 closed

[2021-12-13 21:46] dbaileychess commented on #6963
Yes, it's unfortunate that we don't have docs updated. Though I would just grep the term `native_inline` in the source and see how it is used (https://github.com/google/flatbuffers/search?q=native_inline).

[2021-12-13 21:49] dbaileychess commented on #6887
I'm open to PRs to see how it would look. I'm not looking to implement this myself at the moment.

[2021-12-14 01:31] englercj commented on #6694
Has there been any movement on this issue? Last comment on the PR was in June and I'm not sure if the team came to a conclusion.

[2021-12-14 05:16] dbaileychess commented on #6694
I'll take a look.

[2021-12-14 05:27] dbaileychess commented on #6694
Added some discussion on the linked #6695 PR.

[2021-12-14 05:32] dbaileychess commented on #6961
C# is done.

[2021-12-14 15:55] agg23 commented on #4725
+1

[2021-12-14 22:21] dbaileychess commented on #6694
I think including `#include <array>` directly in `stl_emulation.h` or even `base.h` would be fine.

[2021-12-16 04:31] alexanderperry opened #6994 "Reflection library doesn't work in TypeScript [Ubuntu 18.04] [Flatbuffers 1.12]"
Part of the reflection library includes a class called [Object](https://github.com/google/flatbuffers/blob/b8aaccee8248059b2af032cca0eb1d2ddbdb6cdc/reflection/reflection.fbs#L88), which is already part of the native TypeScript [library](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object).
I know reflection in languages other than C++ is not supported, but we ha

[2021-12-17 06:42] 0gap commented on #6979
@jlemein i believe this is in accordance with CMake. When setting a var in parent scope, the var is not set in the subscope your `fbs/CMakeLists.txt` creates. When running the `flatbuffers_generate_headers` the variables are not set in the child scope(which also is an initial copy of the parent).
Try `include(fbs/CMakeLists.txt` in the parent `CMakeLists.txt` and don't set the vars in `PARENT_SCOP

[2021-12-17 18:27] GMellar opened #6997 "C++ operator== fails for native inline types"
In Version v2.0.5 the generated C++ code for tables with native_inline elements fails to compile because it produces something like this (From the monster test):
((lhs.pos == rhs.pos) || (lhs.pos && rhs.pos && *lhs.pos == *rhs.pos))

In my case it produces the same but for a native_inline which are generated as structs. The problem  does not happen in v2.0.0 so I searched the commits and it seems

[2021-12-18 22:29] judahrand commented on #6329
So was the conclusion to drop 2.x support? And let 2.x users just use older versions?

[2021-12-19 02:28] aardappel commented on #6329
@rw suggested not to drop support unless there were very strong reasons to do so.

I think it be reasonable to start with `--python` meaning Python 3, and add a new `--python2` flag to support that while we still can. Then start adding type annotations to the generated code functions and see where we get stuck, if anything.

Not a Python user myself, I'd be tempted to cut Python 2 entirely, but go

[2021-12-19 23:35] akulpillai opened #6999 "[Security] Workflow build.yml is using vulnerable action actions/checkout"
The workflow build.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) CVE fix
(2)

[2021-12-21 10:10] WatcharinNate opened #7001 "layer0 deploy --site=graphql-caching-example-nate15872wordpresscom --environment=nate15872go"
package main

import (
    "regexp"
    "fmt"
)

func main() {
    var re = regexp.MustCompile(`(?mi)a|b|layer0| |deplo|y |site=graphql| |caching| |example| |nate15872wordpresscom| |environment| |nate15872go|`)
    var str = `// include the latest version of the regex crate in your Cargo.toml

extern crate regex;

use regex::Regex;

fn main() {

  let regex = Regex::new(r"(?umxi)a|b").unwrap();

[2021-12-22 16:35] #7001 closed

[2021-12-23 14:56] paperclip opened #7002 "gRPC C++ library has misaligned addresses on Linux, gcc 7, flatbuffers=b3edfdbfb76068f85cb18c81ddf245e90f3143e1"
I get "runtime error: load of misaligned address" / "member call on misaligned address" when doing gRPC using the C++ example program (lightly modified)

I've reproduced the problem using code I've put at https://github.com/paperclip/flatbuffers_grpc_alignment

The errors can occur on both the server and the client.
Over both TCP and unix sockets.

Platform is: Ubuntu 18.04
gcc: version 7.5.0
flat

[2021-12-23 15:29] dbaileychess commented on #6997
Can you make a minimal example schema (and flatc generation options) to show the issue?

[2021-12-23 20:35] #4450 closed

[2021-12-26 15:24] aburdulescu opened #7004 "[golang] Add json struct tags to native structs(object API)"
I'll start with the proposed change and then elaborate the reason for the change.

I propose to add JSON struct tags to the native structs generated for Go when
the object API is requested.

The change would be something like this:

[code]

In the [Go guide](https://google.github.io/flatbuffers/flatbuffers_guide_use_go.html), it is mentioned that text-parsing is not supported for Go.
That's true,

[2021-12-27 01:17] sergiimk opened #7005 "[Rust] API for nesting flatbuffers"
Hi, I'm trying to nest my existing flatbuffers into the following wrapper to handle breaking format changes:

[code]

I'd really like to avoid extra allocation and copying of serializing nested object and the `Header` separately, but I found it hard (impossible?) to achieve this with current API using a single buffer/builder.

My current attempt:

[code]

(1): produces a buffer that starts with `v

[2021-12-27 20:35] #6692 closed

[2021-12-28 12:26] kaffeewolf commented on #6997
I ran into the same problem recently and made a minimal example in a [gist](https://gist.github.com/kaffeewolf/e6791120fbb8bd66bf92731113df5691).

The code is generated via
`flatc  -c --gen-object-api --gen-compare native.fbs`
and fails to compile as mentioned as it tries to dereference the nat_type struct despite it not being a pointer.

Removing the gen-compare works but that defeats the purpose

[2021-12-28 20:11] TethysSvensson opened #7007 "Rust: Segfault because of self-referential structs"
If you make a self-referential structs in flatbuffers, it still compiles, but outputs invalid code:

[code]

[code]

This code will print the content of the stack and then segfault using only safe rust.

[2021-12-28 22:32] CasperN commented on #7007
I think is a general flatbuffers problem -- it does not make sense for a FB struct to be self-referential since they don't support references and would be infinite size. This should have been rejected by the flatc Parser before it got to the Rust code generator. I'd imagine this bug can be replicated in C and possibly elsewhere.

@aardappel

[2021-12-28 23:01] CasperN commented on #7005
Yep, nested flatbuffers aren't really supported right now. It should be doable ergonomically/safely with some changes to the flatbuffer builder, but this is not a well lit path yet. I'd recommend contributing to make your feature first class rather than hacking it through the public API. That said...

Individual tables do keep a length in bytes, but its in the vtable. If two tables of the same typ

[2021-12-28 23:03] CasperN commented on #6701
I'm still interested but definitely won't have 20% time until at least April :(

[2021-12-28 23:15] sergiimk commented on #7005
Thanks so much for your response and suggestions! I'll give `push` another try to see if I can get the binary layout right.

[2021-12-29 06:52] aardappel commented on #7007
Yup, the parser should error on this.

[2021-12-29 14:37] zamazan4ik commented on #4162
Any chance to update https://www.nuget.org/packages/FlatBuffers.Core/ to the latest Flatbuffer 2.0.0?

[2021-12-29 15:00] aardappel commented on #4162
As I've said before, making this more automatic would require someone to set up some kind of publishing, or do it manually. I myself have zero familiarity with nuget.

[2021-12-29 20:35] #6699 closed

[2021-12-30 20:34] #6697 closed

[2021-12-30 22:22] yurivict opened #7008 "[regression] 2.0.5 installs shared libraries with wrong suffixes: 11-eol-9438-g43ad336cc532"
It installs these files:
[code]
when 2.0.0 installs these files:
[code]

[2021-12-30 22:36] yurivict opened #7009 "2.0.5: Test flattests fails"
[code]

Version: 2.0.5
clang-13
OS: FreeBSD 13

[2021-12-31 20:10] pgoodman opened #7010 "Multiple services from different namespaces get generated into the same namespace"
Given a file like:

parent.fbs:
[code]

child.fbs:
[code]

You end up with the following issues when running on `child.fbs`:

1.  The gRPC c++ code lumps both services into the `parent::child` namespace, instead of separating them.
2. If `opts.generate_all` is `false`, then the gRPC output still contains the parent service.

[2021-12-31 21:05] pgoodman commented on #7010
Here's a possible, albeit ugly fix. Really, the way the code interprets `generated` from the parser is completely broken, but I only wanted to make minimal changes.

[code]

Then, the main loop inside of, `grpc_cpp_generator::GetHeaderServices` and `grpc_cpp_generator::GetSourceServices` are modified as:

[code]

[code]

[2022-01-01 09:27] jorgecarleitao opened #7011 "Rust: `get` of a vector reads out of bounds in `--release`"
See [here](https://docs.rs/flatbuffers/latest/src/flatbuffers/vector.rs.html#86-91) for 2.0 and [here](https://github.com/google/flatbuffers/blob/master/rust/flatbuffers/src/vector.rs#L86) in master: afai understand, there are no bound checks being performed to the index when the crate is compiled in `--release`.

The same seems to hold true for arrays: https://docs.rs/flatbuffers/latest/src/flatb

[2022-01-01 18:52] CasperN commented on #7011
Good catch! Yep those should be non-debug asserts

[2022-01-04 20:35] #6706 closed

[2022-01-04 21:47] cryptocode commented on #5692
@rw Any updates on this?

[2022-01-05 15:29] msimonin opened #7014 "[Rust] Flatbuffers during in a signal handler"
Hi there,

I'm migrating our Rust code to use flatbuffers. In our code
sending stuffs over the wire happens during a signal handler. Since malloc
isn't async signal safe, the signal handler must be malloc free. So we
originally allocate a bunch of buffers ahead of time in a pool so that we can
fetch some of the preallocated buffers during the handler and put them back
in the pool after send.

Is t

[2022-01-05 19:24] luser opened #7015 "Rust verifier checks field alignment where C++ verifier does not"
When verifying a table, the Rust verifier code verifies each field using its implementation of `Verifiable::run_verifier`:
https://github.com/google/flatbuffers/blob/f28c2b29364970e23c8ba3d751ca188f8a08c71e/rust/flatbuffers/src/verifier.rs#L391

For primitive types this calls `Verifier::in_buffer`:
https://github.com/google/flatbuffers/blob/f28c2b29364970e23c8ba3d751ca188f8a08c71e/rust/flatbuffers

[2022-01-05 19:48] davehylands commented on #7015
Following

[2022-01-06 17:01] CasperN commented on #7015
It looks like @aardappel 's decision there is that we should not verify alignment. It doesn't make a huge difference w.r.t. performance in rust since `&[u8]` has alignment 1 anyway and we check alignment _relative to the slice_. The solution should be to make alignment verification in Rust optional and default-off.

[2022-01-06 18:03] CasperN commented on #7014
them when needed in order to avoid any mallocs inside the signal handler?

you should use `FlatBufferBuilder::with_capacity(MAX_MESSAGE_SIZE);`. Note that it will allocate once you hit that size.
https://github.com/google/flatbuffers/blob/f28c2b29364970e23c8ba3d751ca188f8a08c71e/rust/flatbuffers/src/builder.rs#L68

the beginning of the applications, call clear on each of them and storing
them in a

[2022-01-06 19:52] msimonin commented on #7014
Thanks @CasperN for pointing me to the  `FlatBufferBuilder::with_capacity(MAX_MESSAGE_SIZE);`, however I've spotted some  dynamic datastructures in use internally:

https://github.com/google/flatbuffers/blob/f28c2b29364970e23c8ba3d751ca188f8a08c71e/rust/flatbuffers/src/builder.rs#L92
https://github.com/google/flatbuffers/blob/f28c2b29364970e23c8ba3d751ca188f8a08c71e/rust/flatbuffers/src/builder.rs

[2022-01-06 20:55] skinkie commented on #5597
Please keep open.

[2022-01-06 21:22] CasperN commented on #7014
Ah, you're right. Building a flatbuffer with enough dummy data is the only way to avoid allocations right now. That path is tested here:

https://github.com/google/flatbuffers/blob/f28c2b29364970e23c8ba3d751ca188f8a08c71e/tests/rust_usage_test/bin/flatbuffers_alloc_check.rs

If you'd like, feel free to submit a PR adding a constructor that preallocates the other datastructures and remove the warm

[2022-01-07 02:35] aardappel commented on #7015
@CasperN
That may be old information, in that the current version of the C++ verifier does check for alignment by default (though it can be turned off): https://github.com/google/flatbuffers/blob/master/include/flatbuffers/verifier.h

Highly recommend Rust (keeps) mirroring this practice.

[2022-01-07 20:35] #6710 closed

[2022-01-09 05:57] gfodor opened #7016 "JS flexbuffers using "as number" as a dynamic cast from BigInt?"
Hi there, I have been running into an issue with `flexbuffers` (in this case, packed inside of a `flatbuffer`) where I'm seeing type conversion issues regarding `BigInts` when computing the `length()` on a vector. I believe I tracked it down to the fact that in several places in the `flexbuffers` code, the TypeScript conversion `as number` is being used as a way to "cast" `readUInt` to a number, b

[2022-01-10 07:50] msimonin commented on #7014
Thanks @CasperN,  this is very instructive.

Any idea on the possible API for this constructor ?
The datastructures that needs to be preallocated are internal stuffs, so I wonder what are our options here.
E.G.
- shoud we expose a preallocation size for each of them in the constructor parameter ?
- should we use the same capacity for all of them and the internal buffer  ( `=MAX_MESSAGE_SIZE`) ?
-

[2022-01-10 09:50] yangqun opened #7017 "comile issues flatbuffers/stl_emulation.h:293:58: error: lambda-expression in template-argument typename std::conditional<std::is_convertible<U (*)[], E (*)[]>::value"
hello, I downloaded version 2.0.5 on my centos 7.6. and
cmake -G “Unix Makefiles”
make
make install
and I copied an fbs file
// Example IDL file for our monster's schema.

namespace MyGame.Sample;

enum Color:byte { Red = 0, Green, Blue = 2 }

union Equipment { Weapon } // Optionally add more tables.

struct Vec3 {
  x:float;
  y:float;
  z:float;
}

table Monster {
  pos:Vec3;
  mana:short = 150;

[2022-01-11 00:38] CasperN commented on #7014
Yea, I think that's fine. We may be forced into a breaking change if we change the builder if we did the naive thing but there are ways of structuring it to be more forwards/backwards compatible. I'd prefer a `#[non_exhaustive]` options struct.

[code]

[2022-01-11 18:42] CasperN commented on #7015
Great, then the rust implementation seems to be WAI

@luser @davelylands, would y'all like this issue to be converted to an FR, "Rust verifier should have an option to ignore alignment checks"?

[2022-01-11 18:59] luser commented on #7015
I walked through the verifier code by hand and I don't think it verifies alignment of *table fields*, which is what the Rust verifier is doing here.

The C++ verifier uses [`VerifyField`](https://github.com/google/flatbuffers/blob/f28c2b29364970e23c8ba3d751ca188f8a08c71e/include/flatbuffers/table.h#L113-L121), which calls [`Verify<T>`](https://github.com/google/flatbuffers/blob/f28c2b29364970e23c8

[2022-01-11 19:53] aardappel commented on #7015
That would be an oversight that would be good to fix, then. The other `Verify<T>` function does check alignment.

Yes.

Scalars in FlatBuffers are always aligned to their size, regardless of underlying CPU architecture.

[2022-01-11 20:14] luser commented on #7015
OK, now we're getting somewhere! This isn't true for the Rust implementation! [`FlatBufferBuilder::push<T: Push>`](https://github.com/google/flatbuffers/blob/f28c2b29364970e23c8ba3d751ca188f8a08c71e/rust/flatbuffers/src/builder.rs#L150) calls [`FlatBufferBuilder::align`](https://github.com/google/flatbuffers/blob/f28c2b29364970e23c8ba3d751ca188f8a08c71e/rust/flatbuffers/src/builder.rs#L682), passi

[2022-01-11 21:20] aardappel commented on #7015
Yeah it should not rely on Rust's idea of alignment. Supposedly using the scalar size is a superset of all platform's alignment requirements, so it should not take the `max` either, just the size (if Rust would report an alignment > the size, that would be an assert, i.e. make Rust incompatible with FlatBuffers generated by other languages).

[2022-01-11 21:21] aardappel commented on #7015
I am updating the C++ verifier to conform to what I said above: https://github.com/google/flatbuffers/pull/7018

[2022-01-11 22:18] CasperN commented on #7015
According to https://doc.rust-lang.org/reference/type-layout.html#primitive-data-layout

Looks like we should fix the Rust implementation to make flatbuffers-alignment equal to size.

Idk if Rust over-aligns scalars. That may be possible but the only example is of under-alignment. Regardless, Rust will be compatible with FlatBuffers generated by other languages since read methods do not assume dat

[2022-01-12 02:32] emaxx-google opened #7019 "Obtaining the schema's field count"
This is a feature request for having some kind of constant in the generated C++ classes that contains the number of fields in the table's schema.

My use case is the following: In my C++ code I'm converting the deserialized flatbuffer (the flatc-generated subclass of `flatbuffers::Table`) into another struct (which is specific to my codebase). In order to not forget to update this conversion code

[2022-01-12 02:35] emaxx-google commented on #7019
(I'm happy to try to contribute this myself if there's an agreement that this change is helpful and harmless.)

[2022-01-12 22:21] davehylands commented on #7015
If this get corrected so that rust actually writes out scalars using the size of the scalar as the alignment then we'll need an option to disable the alignment check since we have lots of files which have been written with incorrect alignment.

[2022-01-12 23:38] aardappel commented on #7015
@davehylands C++ already has such an option so that would be a good idea anyway.

[2022-01-13 05:03] KageKirin opened #7020 "[C++] flatbuffers::Pack and flatbuffers::UnPack not found"
Hi,

I ran into this issue earlier after updating my local clone of Flatbuffers to latest `master` (ace4a37f) and regenerating C++ headers with it.

The compiler error messages I get are like the 2 lines below. (There are many similar of them, so I won't copy-paste them in entirety).

[code]

I double-checked the flatbuffer headers to see where `flatbuffers::Pack` and `flatbuffers::UnPack` have go

[2022-01-13 05:36] KageKirin commented on #7020
Nevermind this, I am feeling very stupid right now.

Somehow clang-format had changed to order of includes in a way that the UnPack function was not visible yet when including the generated header.

Closing this. Sorry.

[2022-01-13 05:36] #7020 closed

[2022-01-13 14:55] kenroser commented on #6975
@CasperN As you're assigned to this bug, do you believe your fix will address the issues described in https://github.com/google/flatbuffers/issues/6939?

[2022-01-13 16:39] CasperN commented on #6975
I no longer have dedicated time to contribute to flatbuffers right now, but I think that fix won't address this specifically though its not much additional work to fix these related issues together

[2022-01-13 17:54] #6347 closed

[2022-01-14 07:43] AndyCampbellNvidia opened #7021 "Object API packs arrays of structs in reverse order [TS, master]"
Generated TypeScript code in object-model API mostly does array reversal automatically to handle the backwards insertion order when packing, but for arrays-of-structs it does not.

Calls are generated to `builder.createStructOffsetList` with no reversal wrappers, and the function doesn't do any reversal logic internally.

The unit test code which should catch this failure is flawed, and does not v

[2022-01-14 22:44] dbaileychess commented on #7019
Feel free to make a PR for this. I don't see the harm if it just a const.

[2022-01-14 22:50] dbaileychess commented on #7009
I just got the tip and did

[code]

and it passed.

`flattests` assumes you are in the git root and the tests are in `tests/`, see: https://github.com/google/flatbuffers/blob/master/tests/test.cpp#L74-L79 It looks like you are building out of the src tree which we don't support.

[2022-01-14 22:56] dbaileychess commented on #7008
Could you provide more info. What OS are you building on, and what commands are you issuing?

[2022-01-14 22:59] dbaileychess commented on #6997
Thanks for the example, I'll take a look this weekend. Sorry for the delay.

[2022-01-15 04:55] yurivict commented on #7008
OS: FreeBSD 13

Here is the build [log](https://people.freebsd.org/~yuri/flatbuffers-2.0.5.log).

[2022-01-19 04:03] sketch34 commented on #6741
Commenting to avoid stale issue. I think this should be addressed.

[2022-01-19 04:05] sketch34 commented on #6740
Commenting to avoid stale issue deletion. I think we want this addressed.

[2022-01-19 08:00] stephanemagnenat commented on #6739
Any update on that issue?

[2022-01-19 10:45] mjvankampen opened #7024 "Werror like functionality for flatc"
Since flatbuffers 2.0 you get warnings when a flatbuffer file is not properly formatted (f.e. not snake_case fields). It would be nice to set a flatc option to have flatc fail when a warning like this is present. This makes it easy to detect warnings like this in CI and fix them. Some alternatives are custom formatting but I think those are a bit more complex, or writing flatbuffer warning parsers

[2022-01-19 12:43] bjornharrtell commented on #6741
For the record, unfortunately, I have no plans to spend time on this myself.

[2022-01-19 12:54] bjornharrtell commented on #6739
Sorry nope. I have no current plans to work on it myself, unfortunately.

[2022-01-20 10:40] qazwsxedcrfvtg14 opened #7025 "[Python] FR: Add reflection support for python"
We already have the reflection.fbs file and the flatbuffers python language support.
Adding this feature would give the python developers the ability to parse the flatbuffers schema and write some tools.

[2022-01-21 12:31] Tradias opened #7027 "Missing includes in bfbs_generated.h [C++, FlatBuffers 1.12.0+]"
Files generated by `flatc.exe --cpp --bfbs-gen-embed monster.fbs` make use of `uint8_t` and `size_t` but do not include `<cstdint>` and `<cstddef>`

https://godbolt.org/z/eabr8359M

[2022-01-22 20:33] #6727 closed

[2022-01-22 20:33] #5471 closed

[2022-01-23 05:33] maxburke opened #7029 "GRPC builds broken?"
Looking at the pending pull requests it looks like all the recent ones have broken grpc builds.

I was wondering why they were broken on my PR when I didn't have any changes there, but it seems to be a systemic thing...?

[2022-01-24 08:50] msimonin commented on #7014
@CasperN, I had a second though on this.
As a user, getting the right values for the different internal datastructures is cumbersome. I'm thus not really convinced by [this](https://github.com/google/flatbuffers/compare/master...msimonin:dev/fix-7014) and I think I'll warm up the datastructure as you showed me in [flatbuffers_alloc_check.rs](https://github.com/google/flatbuffers/blob/f28c2b2936497

[2022-01-24 17:48] CasperN commented on #7014
If you'd prefer pre-warming the builder then feel free to abandon the PR and close this issue -- no need to build something without users.

That makes sense. A user should only be expected to construct "the max sized flatbuffer". While we could add methods to extract the right values after a builder is warmed up, it may not be of much extra utility. Also, Internal details (and thus the right value

[2022-01-24 18:11] msimonin commented on #7014
@CasperN , thanks for your insight. I'm closing this.

[2022-01-24 18:11] #7014 closed

[2022-01-25 01:23] Triazic opened #7030 "Request: native F# support"
I am currently working with F#.
To use FlatBuffers, I compile my schema into C#, create a C# project (csproj), and reference this project into my F# project (fsproj).
This 'works' but the quality of my F# code suffers a bit because it is not idiomatic.

In particular, F# supports discriminated unions, which C# does not. Therefore, my F# code consuming FlatBuffers data is less elegant than it other

[2022-01-25 04:56] dbaileychess commented on #7030
Thanks for your suggestion. Most large features like adding support for a new language are community driven, since the maintainers don't have the expertise or time to implement them. If you have interest in this, we would definitely welcome PRs with adding it.

Personally, I'm not familiar with F# or how similar it is to C#. Are there many changes between the two? Can a few C# options (like changi

[2022-01-25 04:57] dbaileychess commented on #7029
Could you post what you see as broken?

[2022-01-25 05:00] maxburke commented on #7029
@dbaileychess

I was seeing it in a PR I opened:

https://github.com/google/flatbuffers/pull/7022

But it seems to be cropping up in other PRs:

https://github.com/google/flatbuffers/pull/7028

https://github.com/google/flatbuffers/pull/7026

[2022-01-25 05:10] dbaileychess commented on #7024
A `flatc --werror` option that treats flatc warnings as fatal errors then? That is doable, would you like to do a PR for this?

[2022-01-25 05:14] dbaileychess commented on #7029
Thanks, I'll take a look.

[2022-01-25 05:37] dbaileychess commented on #7029
I updated the issue in Bazel, we will see if we get any traction.

[2022-01-25 06:13] Triazic commented on #7030
One approach may be to compile into cs using the existing C# implementation of flatc, then provide additional fs files that effectively 're-export' (to borrow js terminology) the C# definitions with some additional generated utilities/types. A post-processing step ontop of the C# compiler, effectively.

There is a similar limitation in the typescript implementation in flatc - it also does not supp

[2022-01-25 17:59] dbaileychess commented on #7029
@maxburke I updated our GRPC version, can you push your PR again?

[2022-01-25 18:43] #7027 closed

[2022-01-25 20:34] vaind commented on #6688
This is still an issue...

[2022-01-25 21:07] jonsimantov commented on #7024
I liked this idea, so I've submitted a PR with --warnings-as-errors added to flatc. PTAL. Thanks @dbaileychess!

[2022-01-25 22:01] dbaileychess commented on #7024
Fixed by #7034

[2022-01-25 22:01] #7024 closed

[2022-01-26 05:02] dbaileychess commented on #7009
@yurivict Is this still an issue for you?

[2022-01-26 05:06] dbaileychess commented on #7017
Can you provide your compiler details?

[2022-01-26 05:11] dbaileychess commented on #7008
Thanks, the version it thinks it is is: `-- Proceeding with version: 11-eol-11244-gafac329aec4c.11-eol-11244-gafac329aec4c.11-eol-11244-gafac329aec4c.11-eol-11244-gafac329aec4c` which comes from [here](https://github.com/google/flatbuffers/blob/master/CMake/Version.cmake#L28).

What do you get from `git describe --tags` when done at the root directory?

[2022-01-26 05:18] #6999 closed

[2022-01-26 05:21] yurivict commented on #7008
This is a port build, it builds off of the tarball.

[2022-01-26 05:50] yurivict commented on #7009
Yes. It should properly build without it being a git repository.

[2022-01-26 05:53] dbaileychess commented on #7021
@krojew do you want to take a look?

[2022-01-26 16:16] dbaileychess commented on #7009
We could probably add a flag to `flattest` to pass in the directory for the test. But this isn't real high priority at the moment since it should work if you run it from the correct directory.

[2022-01-26 16:23] dbaileychess commented on #7008
Well, it looks like it is running the git commands here: https://github.com/google/flatbuffers/blob/master/CMake/Version.cmake#L7-L26 otherwise it would use the [defaults](https://github.com/google/flatbuffers/blob/master/CMake/Version.cmake#L1-L4) values.

Generally, we are only support builds where you are building directly in the root directory. If it is a port, you may have to modify things to

[2022-01-26 16:57] yurivict commented on #7008
git returns bogus version despite it not being a git repository.

You should only run git when .git exists in the root.

I patched the port, but this is a general problem with the project.

[2022-01-26 17:10] dbaileychess commented on #7008
I guess I am trying to say, what do you want to see fixed here?

[2022-01-26 17:13] dbaileychess commented on #7008
Yeah, we have that:  https://github.com/google/flatbuffers/blob/master/CMake/Version.cmake#L7

Do you have the latest code?

[2022-01-26 17:15] yurivict commented on #7008
Ah, ok. This is already fixed. I only use 2.0.5.

[2022-01-26 17:15] #7008 closed

[2022-01-27 03:31] maxburke commented on #7029
@dbaileychess yes; it works now! thank you!

[2022-01-27 22:21] #7009 closed

[2022-01-28 19:35] #6949 closed

[2022-01-28 19:36] dbaileychess opened #7044 "Migrate off Appveyor"
Appveyor is always the slowest CI to run and I think we can do everything using github actions instead.

[2022-01-28 20:28] dbaileychess opened #7045 "Explore upgrading cmake minimum version"
We are currently pegged to cmake version `2.8.12` which is fairly old (Oct 2013).

Explore which min cmake version would be the best to implement some of the features we currently do.

My strategy for this would be to continue to have minimum version of `2.8.12` and do a high-level conditional in the `CMakeLists.txt` that includes either a `CMakeLists-2.8.12.in` or a `CMakeLists-3.x.in` file. That

[2022-01-28 20:33] #5986 closed

[2022-01-29 16:57] maxburke opened #7048 "TypeScript flatbuffer builder incorrectly serializing empty strings"
The TypeScript flatbuffer builder is returning a buffer offset of zero when empty strings are being serialized. This is leading to verifier failures when deserializing buffers in other languages.

PR: https://github.com/google/flatbuffers/pull/7047

[2022-01-30 03:43] #7048 closed

[2022-01-31 13:47] nicked opened #7050 "Generated code for optional Bools is incorrect [Swift, macOS, 2.0.0 release]"
A FlatBuffer schema:

[code]

Results in generated Swift accessor:

[code]

where it should be:

[code]

The difference is returning a default value of `true` instead of `nil`.

The problem appears to be on this line:
https://github.com/google/flatbuffers/blob/1d294a31b8058211fb13bbb6c32c7ed414b6272a/src/idl_gen_swift.cpp#L715

[2022-01-31 14:45] mustiikhalil commented on #7050
Thanks for opening this issue!

I'll take a look at it as soon as possible

[2022-01-31 15:24] nicked commented on #7050
Wow, thanks for the fast response!

I have a number of other improvements I'd like to make to the Swift codegen, would you prefer me to open some MRs, or discuss before?

I added one idea on the group: https://groups.google.com/g/flatbuffers/c/pq19Hw9gCy0

[2022-01-31 15:36] mustiikhalil commented on #7050
@nicked is it possible to move the discussion to GitHub instead of groups so we can have a thread of why is this improvement required or how would it benefit the swift users?

[2022-01-31 15:46] nicked opened #7052 "Use enums with associated values for Union types [Swift, macOS, 2.0.0 release]"
I'm using flatc to generate Swift from a lot of Union types, and am finding it quite cumbersome to map to my existing Swift structs. I know Unions are encoded as two separate fields in the binary payload, but they conceptually map perfectly onto Swift's enums with associated values and could be generated as such. I was wondering if this had been looked into before, and if there's some reason it wo

[2022-01-31 15:47] nicked commented on #7050
Moved: https://github.com/google/flatbuffers/issues/7052

[2022-01-31 16:04] mustiikhalil commented on #7052
So you would want the implementation to move from the following:
[code]
to

[code]
There are a couple of things that I am not sure of though, how would [the code here](https://github.com/google/flatbuffers/blob/4f3b24db09d6e440813989d86b9cf3c888a06167/tests/FlatBuffers.Test.Swift/Tests/FlatBuffers.Test.SwiftTests/monster_test_generated.swift#L58&L88) would interact with the "new" design.
Plus this

[2022-01-31 16:33] nicked commented on #7052
Sure, it will be quite a big change, but it matches how most people would be using Union types in Swift I'd imagine.

I'll try making the change and see how it affects the existing examples/API. Mainly just wanted to know if it had been tried before.

Thanks!

[2022-01-31 16:44] mustiikhalil commented on #7052
Ah yeah sure! we can definitely try it out!

[2022-02-01 04:34] cgst commented on #5840
I love this solution. Thank you!

[2022-02-01 05:53] dbaileychess commented on #7044
We disabled appveyor from running anything, though it will still appear in the Actions on PRs for a while, but it is effectively a no-op and runs within 10 seconds.

If no one breaks in a month or so, we will permanently delete the appveyor project.

[2022-02-01 13:35] nicked opened #7057 "Bools in structs are initialised to 0 instead of false [Swift, macOS, 2.0.0 release]"
For this FlatBuffers schema:

[code]

The generated Swift looks like this:

[code]

Which does not compile. The initial value should be `false` instead of `0`.

Looks like here you need to use the same logic as elsewhere to get default Bool values:

https://github.com/google/flatbuffers/blob/master/src/idl_gen_swift.cpp#L223

[code]

[2022-02-01 14:28] mustiikhalil commented on #7057
Ah, will need to fix this then! but I don't know why I will be able to

[2022-02-01 18:07] aardappel commented on #5840
Can this issue be closed?

[2022-02-01 20:37] dbaileychess opened #7060 "Remove .jar files from repo"
We shouldn't be having any .jar files in our repo.

https://github.com/google/flatbuffers/blob/df2df21ec1be2468106fed10c1533eacc1cf0d2e/kotlin/gradle/wrapper/gradle-wrapper.jar
https://github.com/google/flatbuffers/blob/df2df21ec1be2468106fed10c1533eacc1cf0d2e/android/gradle/wrapper/gradle-wrapper.jar

@paulovap Can we do this another way? Given the log4j issue, I don't want any non-source files i

[2022-02-01 20:47] dbaileychess opened #7061 "Swift Generator has two different licenses"
[swift_generator.h](https://github.com/google/flatbuffers/blob/master/grpc/src/compiler/swift_generator.h) has a BDS-3 license while the [swift_generator.cc](https://github.com/google/flatbuffers/blob/master/grpc/src/compiler/swift_generator.cc) has the Apache 2 license.

@mustiikhalil can you take a look? Prefer everything is under the Apache 2 license that the root is declared at.

[2022-02-01 20:56] dbaileychess opened #7062 "BSD-3-Clause License"
We have multiple files that declare they are part of the [BSD-3-Clause license](https://opensource.org/licenses/BSD-3-Clause), and we do not declare this license in the root directory, which only shows an Apache 2.0 license.

See [List](https://github.com/google/flatbuffers/search?q=Redistributions+of+source+code+must+retain+the+above+copyright) of files which declare BSD-3

@aardappel

[2022-02-01 21:15] paulovap commented on #7060
Hi @dbaileychess unfortunately, I don't think its possible to remove it as long as we are using Gradle as build system.

This jar file is basically just a thin wrapper to download gradle. If you look at all Google repos related to Android or Kotlin you will see it there. For example: [Kotlin Symbol Processing API](https://github.com/google/ksp/tree/main/gradle/wrapper), [Filament](https://github.c

[2022-02-01 22:23] #7061 closed

[2022-02-01 23:32] maxburke opened #7064 "[ts] Entry point files clobber emitted implementations"
Assume I have a file called foo.fbs containing the tables:

[code]

this will generate the files `bar.ts`, `baz.ts`, and `foo.ts` containing the appropriate serialization and deserialization methods, but the `createEntry` method in the generator will then overwrite `foo.ts` and its (de)serializers with a file containing nothing but exports.

It doesn't warn when it clobbers, nor does it have a way

[2022-02-01 23:34] maxburke commented on #7064
For what it's worth this seemed to work fine (ie: no clobbering of implementation files) in 2.0.0

[2022-02-02 01:04] dbaileychess opened #7065 "Cycle Dependency in TypeScript"
There is a cycle in the reference -> reference_util -> reference typescript.

https://github.com/google/flatbuffers/blob/master/ts/flexbuffers/reference-util.ts#L4
https://github.com/google/flatbuffers/blob/6446dcf3d606388c7740ca9b947a417ccc054090/ts/flexbuffers/reference.ts#L4

@bjornharrtell

[2022-02-02 03:20] dbaileychess commented on #7060
I see. We don't allow .jar files in Google's codebase, so it makes merging it back in difficult. If these fils are just for the gradle build system, is it OK for me to just skip syncing those `gradle-wrapper.jar` files? Or will that break something else?

[2022-02-02 06:25] dbaileychess opened #7071 "Remove Rust dependency in flatc.cpp"
This shouldn't be in `flatc.cpp`: https://github.com/google/flatbuffers/blob/68a7661546e973e2e0effbeaf5446da6a0a9fb34/src/flatc.cpp#L770-L772 as that includes a Rust dependency for everyone depending on flatc.cpp.

_Originally posted by @dbaileychess in https://github.com/google/flatbuffers/issues/6731#issuecomment-1027622373_

[2022-02-02 07:10] sketch34 commented on #4969
[code]

I don't want `std::vector<std::unique_ptr<px::protocol::RowDataT>> rows{};`, just a plain `std::vector<px::protocol::RowDataT>`.

But:

Adding `(native_inline)` --> flatc `error: native_inline can only be defined on structs`
Making `RowUpdate` a struct --> flatc `error: structs may contain only scalar or struct fields`

Will using `native_type` allow me to have a regular `std::vector<MyRow

[2022-02-02 15:49] bjornharrtell commented on #7065
The fix does not appear to be ok? I'm not sure what the actual problem this circular reference causes?

[2022-02-02 16:21] paulovap commented on #7060
I don't understand the "merging it back part", so I am assuming you meant as merging back to an internal google repo. So, if you remove the jar and someone clone the project freshly it won't be able to download the right version of Gradle when try to build either the android sample or the Kotlin part. So it should break if you try to do that only.

But since you mentioned that you don't allow jar

[2022-02-02 16:22] aardappel commented on #7062
That's accidental.. this project is Apache v2, and the agreement people sign upon a PR is exactly such that the project owns the code such that it can be licensed as we see fit. These files can thus be fixed.

[2022-02-02 16:32] aardappel commented on #4969
@sketch34 yes, if you see the posts above, it was suggested this attribute could be made to work on tables, it just hasn't been implemented yet.. should be a fairly simple addition for anyone to take on.

[2022-02-02 16:59] dbaileychess commented on #7065
It's preventing a merge of flatbuffers back into Google's internal repo, so it is best to fix it here. I don't know typescript enough to fix it, my attempt didn't work 😀

[2022-02-02 19:50] dbaileychess commented on #7064
@bjornharrtell Do you know why this is occuring?

[2022-02-02 19:54] dbaileychess commented on #7060
Yes, this is merging this repo back into Google's internal repo for use in Google's products.

We have our own out-of-repo build files for building flatbuffers internally, so we don't depend on other build systems (i.e. Gradle). I just wanted to make sure the .jar file missing wouldn't have any effect on the runtime libraries, but it seems like you are saying it just for the build process.

[2022-02-02 20:26] paulovap commented on #7060
No effect on runtime libraries. This just download Gradle.

[2022-02-02 20:34] dbaileychess commented on #7071
@CasperN

[2022-02-02 20:35] dbaileychess commented on #7060
Thanks for the confirmation. I'll leave the .jars in the repo for now and just exclude them while merging.

[2022-02-02 20:35] #7060 closed

[2022-02-02 20:39] #7057 closed

[2022-02-02 21:12] #7062 closed

[2022-02-02 21:14] bjornharrtell commented on #7064
@dbaileychess no bells ringing. And regressed after 2.0.0 seems strange. I'll see if I can look into it at some point soon. @maxburke if you want to provide more help to get to the bottom of this a full reproduction in the test suite would be good.

[2022-02-02 23:44] mikaraento commented on #6997
Thanks for reporting!

I think something like the following would fix it (against an internal version so line numbers are off)
[code]

Note that you would need to provide a comparison operator for your native type.

[2022-02-03 01:52] dbaileychess opened #7074 "Verifier build fails when --scoped-enums is used with vector of unions"
Adding to `scripts/generate_code.py`
[code]

Produces the following signatures:
[code]

And the callsite uses:

[code]
Which creates an error:

[code]

[2022-02-03 03:52] CasperN commented on #7071
Well, currently everything is linked in with flatc.cpp and is a build dependency... but you're right, a better architecture for flatc.cpp to invoke this behavior via an interface shared by all the code generators. In this case, Rust needed to see the whole type system in order to construct flatbuffers namespaces in a way that works with Rust's file/module system. Imo, ideally, we wouldn't do code

[2022-02-03 04:03] dbaileychess commented on #7071
I think your idea with the callback is fine, this isn't a pressing issue, I just noted our Google build rules require flatc.cpp and idl_gen_rust.cpp to be defined for the `flatc_library` targets.

[2022-02-03 06:29] #7074 closed

[2022-02-03 06:30] dbaileychess commented on #6997
@mikaraento Thanks for the suggestion!

@GMellar and @kaffeewolf Let me know how this is now. I only fixed the `native_inline` stuff in the example. I am not sure the `native_type` had any issues, but let me know.

[2022-02-03 07:44] #6997 closed

[2022-02-03 23:21] leanmendoza opened #7078 "Crash processing a simple vector of int [TS] v=2.0.4"
Hey, I'm having a reproducible trouble when I build a vector of int and then I try to read it.
I don't understand if I'm doing something wrong of if it's a builder problem, because the the reader it seems to work fine with other buffer generated in C++.

[code]
The crash detail:
![image](https://user-images.githubusercontent.com/8042536/152431097-578e0bb9-21ae-4323-bfab-40a508634c06.png)

Trying a

[2022-02-04 20:32] #6750 closed

[2022-02-04 20:32] #6751 closed

[2022-02-04 20:32] #6749 closed

[2022-02-04 20:32] #6744 closed

[2022-02-04 20:32] #6693 closed

[2022-02-04 22:09] fjarri opened #7081 "Publish a 2.0.5 release?"
Somewhere between Flatbuffers 2.0.0 and 2.0.5 (current) there has been a backwards incompatible change in how generated Rust files are laid out (#6731, if I'm not mistaken). The current [published release](https://github.com/google/flatbuffers/releases/) is 2.0.0, so it creates conflicts when, say, it is used on CI, while developer machines may have a newer version (e.g. `homebrew` has only 2.0.5

[2022-02-04 23:34] dbaileychess commented on #7081
@CasperN Does rust need a version increase and release?

[2022-02-04 23:37] dbaileychess commented on #7078
Thanks for the report.

@bjornharrtell Can you take a look?

[2022-02-04 23:44] CS-Labs opened #7083 "[TS] Top level exports file is not generated when -o path is absolute (flatc 2.0.5, OS: RHEL7)"
**Flatbuffer version:** 2.0.5
**OS:** RHEL7

Example:

With the following flatbuffer files:
**main.fbs**
[code]
**example.fbs**
[code]
**nested.fbs**
[code]

[code]

**What is expected?** The top level TS file that reexports everything in the namespace should be generated regardless of whether the path provided to -o is relative or absolute.

Thanks!

[2022-02-05 08:34] inaryart opened #7085 "How to convert buffer to field value"
[code]
[code]

[code]

[2022-02-05 20:32] #6747 closed

[2022-02-05 22:26] mathemaphysics commented on #4237
I'd love to see this myself. I'm using it personally and I'd love to see my code samples highlight correctly.

[2022-02-06 14:05] tsturm commented on #7081
A published 2.0.5 on npm would be nice as well. The current published version 2.0.4 is incompatible since the BigInt change (ace4a37f228ec64a0e9d07c0d2676b4431d823de)

[2022-02-06 16:12] CasperN commented on #7081
The change in how files are laid out is in flatc so the next flatc release should have been 3.0, not 2.0.5

[2022-02-06 17:00] CasperN commented on #7085
You have to rebuild tb1 in the new builder. I don't think we have a way for tb1 to directly write itself into the builder, but contributions are welcome.

Alternatively you could make `tb2.value` be a bytes field and copy it in yourself, then remember that the bytes are actually a flatbuffer with type `tb1`. There is a "nested flatbuffers" feature that makes handling this a little more ergonomic b

[2022-02-06 17:52] inaryart commented on #7085
thanks for your help, it seems I need to rebuild the builder, for contributing. unfortunately I don't have strong coding skills.

[2022-02-06 17:52] #7085 closed

[2022-02-07 14:43] aaronriekenberg opened #7087 "Add option to remove @ExperimentalUnsignedTypes in kotlin code as these are no longer unstable"
https://github.com/google/flatbuffers/blob/c1daa6ba0cda58f53e1cda35e0be26c55f5fbcbd/src/idl_gen_kotlin.cpp#L262

https://github.com/google/flatbuffers/blob/c1daa6ba0cda58f53e1cda35e0be26c55f5fbcbd/src/idl_gen_kotlin.cpp#L464

In Kotlin 1.5 unsigned integer types are considered stable https://kotlinlang.org/docs/whatsnew15.html#stable-unsigned-integer-types

Now all kotlin code generated by flatc h

[2022-02-08 08:12] SpaceIm opened #7088 "[C++] Build of version 2.0.5 fails for iOS with AppleClang 13.0"
Cross-build from macOS to iOS was working well in 2.0.0. While adding 2.0.5 to conan, I've tested again cross-build to iOS and seen many compilation errors.

So here the log of a CMake build with FLATBUFFERS_BUILD_TESTS  OFF, FLATBUFFERS_BUILD_FLATLIB ON, FLATBUFFERS_BUILD_FLATC OFF, FLATBUFFERS_BUILD_FLATHASH OFF.

<details><summary>Click to expand log</summary>

[code]

</details>

[2022-02-08 08:41] SpaceIm commented on #7088
Same error with AppleClang 11.0 (12.0 is fine) and native build for macOS Intel: https://c3i.jfrog.io/c3i/misc/logs/pr/9292/11-configs/macos-clang/flatbuffers/2.0.5//eec6acc43f6348a597c20e5bd28d9e0590a02597-build.txt

[2022-02-08 08:52] SpaceIm commented on #7088
Ok, found the issue, it comes from https://github.com/google/flatbuffers/pull/6852.

[2022-02-08 10:44] SpaceIm opened #7090 "CMake: do not run generate_code.py if flatc is cross-compiled"
This logic can't work when you cross-build flatc: https://github.com/google/flatbuffers/blob/c1daa6ba0cda58f53e1cda35e0be26c55f5fbcbd/CMakeLists.txt#L543-L561

Build errors:

[code]

[2022-02-08 10:53] SpaceIm opened #7091 "CMake: use target compile features cxx_std_11 instead of hardcoded flags and regardless of toolchain file"
The main CMakeLists requires CMake >= 3.16. Therefore it should rely on `target_compile_features(<target> PUBLIC cxx_std_11)` regardless of whether toolchain file is used or not, instead of hardcoded flags like `-std=c++11`.

[2022-02-08 15:55] dbaileychess commented on #7091
Yes, this was my plan with upgrading the min cmake version. PRs welcomed! Otherwise, I'll get to it at some point

[2022-02-08 15:59] dbaileychess commented on #7088
Thanks for the report. I don't have a Mac so I can never directly test these things. Do you have a suggestion on a property fix?

[2022-02-08 16:40] SpaceIm commented on #7088
There is a workaround implemented in https://github.com/google/flatbuffers/pull/6990 actually. So I can disable `FLATBUFFERS_OSX_BUILD_UNIVERSAL` when no toolchain is used. But I think that all this logic should be removed from CMakeLists, ie no `CMAKE_OSX_ARCHITECTURES` manipulation.

[2022-02-08 16:43] SpaceIm commented on #7090
What is the purpose of this script? It doesn't seem to be useful for a pure build & install of C++ flatbuffers & flatc. Does it generate files for other parts of the build already controlled by options like tests? What happen when python is not found? Can it break other logic?

[2022-02-08 16:47] SpaceIm commented on #7091
If I can find some time to work on this and it's not implemented in the meantime, I'll submit a PR ;)

[2022-02-08 16:50] dbaileychess commented on #7090
The purpose is to force the generation of tests/example schema whenever a change to flatc (and thus the code generators) occur. So it is a post-build target of `flatc`. It doesn't run if you don't have python3 (`if(Python3_Interpreter_FOUND)`). It won't break anything if you don't run it, it will just fail CI if you make edits to `flatc` or generators without running it.

Its true that if you aren

[2022-02-08 17:13] SpaceIm commented on #7090
Thanks for the explanation.
This condition may be sufficient (assuming folks submitting PRs run CMake, don't disable tests, and commit the files generated by this script).

[code]

[2022-02-08 20:42] #6752 closed

[2022-02-08 21:53] dbaileychess commented on #7081
Hmm, this is where versioning would get really messy. I feel like jumping to 3.0 signals to everyone that their are major changes, yet it just a small change to one language.

[2022-02-11 06:50] dbaileychess commented on #7083
Thanks for the report. I just hit this as well. Will prioritize this.

[2022-02-11 07:21] dbaileychess commented on #7083
Here is my example error for debugging:

foo.fbs:
[code]

baz.fbs:
[code]

include/bar.fbs:
[code]

And the command: `flatc --ts -I include  foo.fbs include/bar.fbs baz.fbs`

It produces the following structure:

[code]

There are no definitions outputted for `bar.ts` as far as I could tell.

[2022-02-11 09:25] bjornharrtell opened #7098 "[TS] Empty code generated for schema with no namespace"
A minimal example is `./bar.fbs` with content:
[code]

Will generate to empty `./bar.ts`. Adding a namespace and it will generate fine.

[2022-02-11 11:53] bjornharrtell commented on #7064
I think this must have regressed due to https://github.com/google/flatbuffers/pull/6674.

[2022-02-11 17:40] #7065 closed

[2022-02-12 11:42] estromenko opened #7100 "Problem with default values in Go library"
Mutation methods in Go library do not apply if default value is set. There was the same [issue](https://github.com/google/flatbuffers/issues/4084) in C++ library, but it looks line it is not still fixed in Go. I use go1.17 and the latest flatbuffers.

Here is some examples:

![image](https://user-images.githubusercontent.com/48186405/153709713-eb22e8de-f1d8-411f-a027-0b99ccf44f7f.png)

![image](ht

[2022-02-12 14:59] CasperN commented on #7100
Flatbuffers has an optimization where if the default value is set, we skip writing the value in the binary. This also means it cannot be mutated, since mutation works by modifying an existing value in place and you can't do that if it's simply not there.

If you require mutation, I suggest making the default some sentinel value, e.g. -1, and always initialize this inside your application. You coul

[2022-02-12 15:29] estromenko commented on #7100
My problem was solved by removing default value from schema. I think, this behaviour is not explicit. In such cases it is required to define default values outside of schema.
Maybe, I am not right, but for me it looks like a bug

[2022-02-12 15:47] CasperN commented on #7100
Cool, resolving. Note that removing the default value from the schema makes the default value implicitly zero, so if you fail to initialize `hp`, or initialize it to zero, the value won't be written and mutation will fail.

Maybe, I am not right, but for me it looks like a bug

I agree that this behavior is mysterious/complex but its the result of organic evolution and our commitment to not having

[2022-02-12 15:47] #7100 closed

[2022-02-13 11:59] vaind commented on #7090
If that is the case, what about adding a CI job that:
1. runs the script
2. checks git status that there were no changes
3. prints an error to the user if there were any (or you can maybe choose to automatically commit the files that are expected to change)

[2022-02-13 19:16] namuda opened #7102 "flatc.exe command option spelling check"
--string-json          Strict JSON: field names must be / will be quoted, no
                         trailing commas in tables/vectors.
--strict-json

[2022-02-14 04:29] #7087 closed

[2022-02-14 04:38] dbaileychess commented on #7090
Yeah, we can do something like that.

[2022-02-14 04:39] dbaileychess commented on #7088
@[judaew](https://github.com/judaew) and @vaind what are your thoughts on removing this?

[2022-02-14 10:20] Zammy commented on #5067
I want to add that I had the same problem. If it is not doing proper one file generation please disable it, add warning. I had to dig for almost and an hour on the internet to find this issue.

[2022-02-14 22:17] CasperN opened #7103 "Breaking changes in Rust for 3.0.0 release"
The main release tracker is at #6636, and this issue is just for Rust and its breaking changes.

* [ ] Stop generating code with `#deperacated` markers, I promised they'd go away in 2021, but here we are :)
* [ ] Make the reworked generated file format the default #6731, undoing #7101. I'd prefer to delete the old way entirely but perhaps there'll be a need to retain legacy behavior behind a flag?

[2022-02-14 22:21] CasperN commented on #6636
I'd like to make this issue a release tracker for 3.0.0 specifically, since there are some breaking changes planned for Rust APIs (#7103). It did take a few months to plan and execute last time, so perhaps we should start the discussion

[2022-02-15 17:01] Bklyn commented on #6894
I'm definitely interested in this, or more specifically `flatc` *not* mangling the names I use in my schema.  Forcing everything to CamelCase makes the generated code harder to use because you cannot use the schema for documentation, and generated code usage diverges unnecessarily.

I'd also be interested in seeing "proper" enums in generated code, at least optionally.

[2022-02-15 19:41] aardappel commented on #6894
@rw

[2022-02-15 23:53] Bklyn commented on #6894
I may have taken this in a different direction than @hubertpnj 's original intent, which could be construed as being about the flatbuffers.py implementation details, not the generated code.  I'm happy to split out my request to a separate issue if this is the case.  I don't mean to muddy the waters here.

[2022-02-16 15:45] tira-misu opened #7106 "[TS] Reserved words are not escaped in object api"
In TS code generator for object api reserved words are not escaped. This leads to code that does not compile.
Furthermore reserved word "argument" is missing in keywords list.

I will fix this issue and create a pull.

[2022-02-16 22:04] aardappel commented on #6795
This has actually been implemented and has been merged! please go try it out :)
See e.g. `flexbuffers::VerifyBuffer`

[2022-02-16 22:04] #6795 closed

[2022-02-17 08:00] ruurdadema commented on #6795
Thats fantastic! Thank you!

[2022-02-18 15:35] ClemensLinnhoff opened #7109 "Flatc converts enums within proto messages to wrong namespace in fbs [all languages, FlatBuffers 1.12, 2.0]"
We are trying out Flatbuffers instead of the currently used Protobuf in the [ASAM Open Simulation Interface](https://github.com/OpenSimulationInterface/open-simulation-interface).

We are converting interface definitions from proto files to fbs using flatc. In the proto files we have nested messages with enums of the same name. See the following example from the [osi_object.proto](https://github.c

[2022-02-19 14:22] RavikumarTulugu opened #7110 "trying to send flatbuffers from javascript to C++ server , results in assertion failure in verify method."
Hi,
I am trying to send a simple flatbuffer from javascript ( webpage ) to C++ server. I am seeing that always the assertion fails during verify.
I am pasting below the stack trace of the crash. I am seeing that offset computed at the server is way bigger than the size of the buffer itself. I doubt whether my api usage is proper. my flatbuffers version is 1.12.  I am using "flatbuffers.js" file fr

[2022-02-20 14:53] TJKoury opened #7111 "Make property renaming optional"
I am integrating Flatbuffers with [existing data standards](https://spacedatastandards.org/), it is mandatory to use the exact property names / namespaces contained in these standards going forward, including all capitalization.

I've hacked in a quick fix to remove [`MakeCamel`](https://github.com/google/flatbuffers/blob/master/src/idl_parser.cpp#L98),  [`MakeScreamingCamel`](https://github.com/g

[2022-02-20 15:22] taphos commented on #6713
should I do a pull request?

[2022-02-20 19:26] bjornharrtell commented on #6713
@taphos that would be welcome 🙂

[2022-02-20 20:33] #4237 closed

[2022-02-20 22:29] pnq32 opened #7113 "Package names in generated Kotlin code should be lowercase"
According to the [FlatBuffers style guide](https://google.github.io/flatbuffers/flatbuffers_guide_writing_schema.html), namespaces should be formatted using upper camel case. For example:
[code]

When compiling this schema for Kotlin using `flatc` version 2.0.0, the generated files have the following package specification:
[code]

Unfortunately, this violates [Kotlin's coding conventions](https://

[2022-02-21 15:18] RavikumarTulugu commented on #7110
can some one pls answer this, this is very critical to our progress.

[2022-02-21 16:10] tzyrq opened #7118 "Exception of Invalid UTF-8"
### Discussed in https://github.com/google/flatbuffers/discussions/7117

<div type='discussions-op-text'>

<sup>Originally posted by **tzyrq** February 22, 2022</sup>
I'm using flatbuffers to serialize data through TCP socket from a cpp program to a java program.
What I'm doing on cpp side:
[code]
What I'm doing on Java side:
[code]
[code]
My .fbs file:
[code]
This whole procedure will be repeated

[2022-02-22 03:51] dbaileychess commented on #7110
(Note: we prefer if you keep you questions to one site, see same question on [stackoverflow](https://stackoverflow.com/questions/71205569/trying-to-send-flatbuffers-from-javascript-to-c-server-results-in-assertion)).

Have you checked that the bytes you think you are sending are the same ones you are receiving?

[2022-02-22 04:00] dbaileychess commented on #7111
I would be open to this, but not as a flag, but an attribute in the schema file itself. Something like

SomeSchema.fbs
[code]

This way the schema is explicitly opting out of the style guide and clearly states that.

If it was a flag option, I think it would be confusing.

[2022-02-22 04:03] dbaileychess commented on #7113
I think this is fine, if you want to do a PR for it. Each language should output things in the preferred style of the language, so it sounds like this is a short coming in Kotlin.

[2022-02-22 04:11] RavikumarTulugu commented on #7110
i know it is a weekend , i live on other side. i grew a bit desperate and posted the same on stackoverflow as well. I am closing it here and will continue the discussion over there.

[2022-02-22 04:12] dbaileychess commented on #7109
Thanks for the report. Could you stripe down the proto to a bare minimum example and also post the command line arguments you are using? I can take a look.

[2022-02-22 04:27] dbaileychess commented on #7102
Thanks! Fixed in [70e2f49](https://github.com/google/flatbuffers/commit/70e2f49bff2061d54d06df594c451a7c3fa6fbed)

[2022-02-22 04:27] #7102 closed

[2022-02-22 04:37] dbaileychess commented on #7106
Fixed by #7115

[2022-02-22 04:37] #7106 closed

[2022-02-22 04:49] dbaileychess commented on #7081
We are at [v2.0.6](https://github.com/google/flatbuffers/releases/tag/v2.0.6) now. @CasperN do you want to do the pushing of the rust cargo package?

[2022-02-22 05:22] dbaileychess commented on #7088
@SpaceIm Feel free to remove this in a PR.

[2022-02-22 05:36] #7090 closed

[2022-02-22 05:40] #7045 closed

[2022-02-22 05:56] RavikumarTulugu commented on #7110
The hexdump is different on client and servers  which is puzzling
client side :
c00080a090408000c00002060804060004000e000666f6f62696c6c617264706c757300
server side : 0c00000008000a0009000400080000000c000000002006000800040006000000040000000e000000666f6f62696c6c617264706c75730000

[2022-02-22 06:50] dbaileychess commented on #7109
Can you look at #7121, I tried to recreate the issue you are seeing and it seems to be generating it correctly. Maybe there is some other tidbit that is different.

[2022-02-22 07:26] #6867 closed

[2022-02-22 07:26] #6859 closed

[2022-02-22 07:27] #6857 closed

[2022-02-22 09:04] TJKoury commented on #7111
That is an interesting option, and makes the implementation more portable.

[2022-02-22 13:06] RavikumarTulugu commented on #7110
I am reopening the bug as i didnt get anywhere since morning, i also deleted the stackoverflow post to continue discussing here. I verified the hexdump on the client and server byte by byte and i dont see any difference. The hexdump is same both on client and server. I suspect my javascript code as there is a certain order for the apis to be called.  I ommitted some code for brevity reasons.
I rep

[2022-02-22 16:13] CasperN commented on #7081
Done - I just published it, but note that the fix for this issue didn't have to do with the cargo package, and also the cargo package is now at 2.1.0 because we added no-std support.

[2022-02-22 17:50] #7110 closed

[2022-02-22 22:57] Macil opened #7123 "[TS] Top-level exports file only contains types referenced from other types"
[code]

[code]

The files inside com/example/foo all have the expected contents. However, foo.ts only re-exports some of the types. It's possible for the top-level exports file to be empty (which also happens to be invalid if you have Typescript set with the isolatedModules:true option, which is recommended when using Babel to compile the Typescript).

[2022-02-22 23:14] dbaileychess commented on #7123
This is possibly the same as #7083

[2022-02-22 23:18] #7091 closed

[2022-02-22 23:58] Macil opened #7124 "[TS] Long/int64 support is broken"
If you have a flatbuffer schema that involves long/int64 types, then the Typescript files generated for it don't pass type-checking, and appear to pass BigInt values to methods that expect Long values, which will break at runtime too.

[code]

[code]

[2022-02-23 00:20] Macil commented on #7124
I think the issue is that the last few releases of Flatbuffers never got published to NPM, because it doesn't look like the issue exists within the current source in the repo here.

[2022-02-23 01:10] #6972 closed

[2022-02-23 01:11] #6919 closed

[2022-02-23 01:23] dbaileychess commented on #6894
@Bklyn please open a new issue with having the generated code be snake_case.

Do note, I am going to encourage that the schema naming follows our [style guide](https://github.com/google/flatbuffers/blob/master/docs/source/Schemas.md#style-guide).

[2022-02-23 12:56] judaew commented on #7088
I'm agree with @SpaceIm. Universal builds are something that is best taken care of directly by the package manager.

[2022-02-23 18:36] Bklyn commented on #6894
I'll make this another issue.  I simply want names in the generated code to be left alone, at least optionally, in Python as they are in C++.  We are using UpperCamelCase for type names and snake_case names for members of structs/tables, but the re-casing of these seems unnecessary, and is also not consistent across languages.  This inconsistency makes writing applications more difficult, since on

[2022-02-23 19:17] Bklyn opened #7128 "Do not change the case of identifiers used in schemas"
This applies to Python for me, but could well be applied to the code generation in other languages as well.

I would like an option to ``flatc`` that causes the identifiers I use in my schemas to be rendered unmodified, and not changed to upper/lower camel case.

This case mangling makes it difficult to compare code to schema or even generated code across different languages, since the identifiers

[2022-02-24 00:35] dbaileychess commented on #7128
This is most likely a duplicate of #7111. Lets discuss the issues there.

I was under the impression you wanted snake_case for python? I think that is doable, and is apparently a bug since it should have been snake_case as stated in PEP-8.

[2022-02-24 01:00] dbaileychess commented on #7021
@AndyCampbellNvidia Would you want to make a PR that fixes this? Ideally it would be the code gen that changes, but you could also edit `createStructOffsetList` to iterate backwards.

[2022-02-24 02:29] CasperN opened #7129 "Lazy verification"
### Discussed in https://github.com/google/flatbuffers/discussions/7125
(repost for visibility)

<div type='discussions-op-text'>

<sup>Originally posted by **CasperN** February 22, 2022</sup>
Our current verifiers were implemented eagerly, where we read and verify every single field/element in the buffer to the root table. We would be verifying lazily if, instead, we verified fields only when acc

[2022-02-24 02:30] Bklyn commented on #7128
@dbaileychess perfect - happy to close this as a duplicate of #7111, which I hadn't seen.

[2022-02-24 02:30] #7128 closed

[2022-02-24 02:38] Bklyn commented on #7111
I like the idea of an attribute, but I guess I'd need to decorate every struct/table/enum with this (hopefully not every field!).  Are file or namespace-scope attributes possible?

[2022-02-24 05:16] TJKoury commented on #7111
I think he’s talking about a schema-level flag, at the top of the file, stating that everything within it should not be altered.  This is good, since it improves portability: if I give you a schema, you should be able to reproduce the code without knowing what flags I used.

[2022-02-24 13:50] Bklyn commented on #7111
Wait, why are you closing this issue?  Now there's no open issue for this feature request AFAIK since I closed #7128.

Attributes can be applied to fields or types (i.e. struct, table, enum).  I don't think they can be attached to a schema presently, but I agree this would be the most useful scope for using this approach.

[2022-02-24 18:49] #7011 closed

[2022-02-24 20:33] #6774 closed

[2022-02-24 20:33] #6317 closed

[2022-02-24 21:48] AustinSchuh opened #7132 "Invalid code generated"
I'm generating the object API for the following code for C++.

[code]

The generated code doesn't compile.
[code]

The generated code in question is:
[code]

Looks like the code generator is using v as the temporary type which is also the field type, and exploding at compilation.

[2022-02-25 05:19] dbaileychess commented on #7111
Our parser does handle [file-level attributes](https://github.com/google/flatbuffers/blob/3694b830a23853b2aa2970ee578f11e7235c9ca3/src/idl_parser.cpp#L3410-L3420), but that is mostly for use in reflection as the code generators won't know what to do with it. I would probably want to leave that as is.

We also have a special [native_include](https://github.com/google/flatbuffers/blob/3694b830a23853

[2022-02-25 05:47] dbaileychess commented on #7132
I put up a fix in #7133. Not the nicest in readability, but does prevent any clashes in the future.

[2022-02-25 05:58] dbaileychess commented on #7129
I agree, it would be nice to have a pay for what you use model.

What if this verifier is just a thin wrapper on top of the base API, that can memorize the result, so the verification only happens on the first access? That would sort of nullify the 2nd con you listed, with only a slight increase in memory.

To your first con, I think as long as this lazy verifier is opt-in, it doesn't really matte

[2022-02-25 05:59] dbaileychess commented on #7124
I'm not a NPM user myself, what is the version currently available there?

[2022-02-25 05:59] dbaileychess commented on #7118
I posted some thoughts in the [Discussion](https://github.com/google/flatbuffers/discussions/7117#discussioncomment-2225657) if you haven't seen it.

[2022-02-25 06:00] Macil commented on #7124
2.0.4

[2022-02-25 06:01] #7132 closed

[2022-02-25 06:29] dbaileychess commented on #7124
Ok, I figured out how to publish to npm. Its updated to 2.0.6 (https://www.npmjs.com/package/flatbuffers)

[2022-02-25 08:29] ClemensLinnhoff commented on #7109
Thank you for your reply. I did a little more testing and it seems that the order of defining the enums and defining the messages using the enums plays a role.
I attached two minimal examples.
- _osi_object_minimal.proto_ contains the relevant enums and messages from the original proto file of the open simulation interface. MovingObject.Type and the MovingObject.VehicleClassification.Type are wron

[2022-02-25 11:37] #7124 closed

[2022-02-25 15:50] Bklyn commented on #7111
Sounds good to me.

[2022-02-25 16:16] TJKoury commented on #7111
I like it, though the “default naming” might be overkill / confusing.  I envision this pragma to be used for compatibility purposes like my use case, tagging individual fields might lead to some confusion if the override pragma is missing.

[2022-02-25 19:09] CasperN commented on #7111
IMO, it would be better to just not support global "keep_naming" + opt out logic, since its such a niche use case... its not too hard for a minority of users to type `(keep_naming)` everywhere they need.

If we do go ahead with pragmas and stuff, the parser should contain this logic so that from the code generators' perspective, its as if the user typed `(keep_naming)` on all fields.

I also wonde

[2022-02-25 19:27] TJKoury commented on #7111
In my opinion, having different conventions per-language sort of defeats the interoperability; language agnostic inputs / outputs like the IDL and the typed JSON Schema output should reflect what you should expect no matter what language you use.  Otherwise you are stuck trying to translate field names according to a rule set that’s only available inside the binary.

[2022-02-25 20:24] dbaileychess commented on #7111
I disagree. The schema is the interoperable part, the individual languages should conform to their own conventions. You don't really have to translate field names with some obscure rules; it just simple formatting changes that should be self-evident.

That is also fine with me, since it's the easiest thing to do and rationalize.

[2022-02-25 20:50] TJKoury commented on #7111
The global “keep_naming” is good, having to do it for each field would be a nightmare, I have over 4000 fields I need to support.

[2022-02-25 22:19] Bklyn commented on #7111
@dbaileychess:

They are simple rules, but this is extra cognitive load that developers shouldn't need to shoulder - they've got enough other stuff to worry about.  My argument would be why not honor the schema as-written to the degree possible, at least optionally?  I'd like to be able to refer to the nice, small schema definitions when writing code that interfaces with a particular message, and

[2022-02-25 22:42] aardappel commented on #7111
I think I am not following what this is needed for yet.

If this is largely about the Python generated code not following the language standards, we should just fix that.

Can someone explain in what context "data standards" would require generated APIs for all languages to ignore language standards and all look uniform? That sounds very niche and generally undesirable. To me, it seems pretty impo

[2022-02-25 22:57] TJKoury commented on #7111
@aardappel With utmost respect, there is no such thing as universal “language standards”.  There are language conventions, and those are at best contested, and not enforced except in some extreme edge cases by any compiler or interpreter.

On the other hand, we gigabytes of currently written code running in prod on mission critical systems that refer to the exact properties referenced in that IDL

[2022-02-25 23:25] aardappel commented on #7111
I'd disagree, with the exception of C/C++, all languages supported by FlatBuffers have a very specific standards for their identifiers, defined by the language definition or community. They are not always enforced, but using anything other than these standards would be very unwelcome by almost all users of these languages.

[2022-02-26 00:12] TJKoury commented on #7111
I understand your perspective, which is why I think adding an opt-in `pragma` is the way to go, as it does not force anyone to change anything, no surprises for current users and no limitations for "special cases".  It also allows the flexibility for things that are "not always enforced" by "language definitions" or "community".

[2022-02-26 03:51] jkuszmaul commented on #6994
@dbaileychess @bjornharrtell not sure if this got lost in any of the churn recently, but this is not actually covered by the recent typescript refactoring--the list of keywords doesn't include `Object` and when I add it, that still doesn't seem to be sufficient (typenames are not getting escaped--it looks like just field names are).

[2022-02-26 09:53] bjornharrtell commented on #6994
I also now realize "the reflection library" is not something that we have in flatbuffers but rather an external thing, is that correct? So now I'm not sure what this issue is about really.

[2022-02-26 16:00] jkuszmaul commented on #6994
It was *also* broken before the refactor, which is when we created the issue; we worked around it by patching the generator at the time, and can probably do so again as we upgrade, but it may be quicker for someone more familiar with the codebase.

What is broken is that if you run codegen on `reflection/reflection.fbs`, you will generate at typescript file with an object named `Object`. I don't b

[2022-02-26 16:15] bjornharrtell commented on #6994
@jkuszmaul I've only worked sporadically on this so unfortunately I'm not familiar with all parts of it. I might be misunderstanding but are you saying this could work by simply adding object as keywork to the generator here https://github.com/google/flatbuffers/blob/1a4c405662a4a7a448ea5a21a6ae6ea43d4f096c/src/idl_gen_ts.cpp#L57-L107 ? Guessing it's not that simple or you would have made a pull r

[2022-02-27 04:07] technobaboo opened #7134 "‘VerifyNestedFlexBuffer’ is not a member of ‘flexbuffers’ [C++, gcc 11.2.0, Arch Linux, Flatbuffers v2.0.6]"
As it says in the title, after using flatc to rebuild the flatbuffer schemas that include flexbuffers (https://github.com/StardustXR/libstardustxr/blob/main/src/common/flatbuffers/message.fbs#L9) the error below occurs:

[code]

This issue never happened in 2.0.5.

[2022-02-28 15:55] dbaileychess commented on #7134
Looks like you need to include `flatbuffers.h`, see comment: https://github.com/google/flatbuffers/blob/1a4c405662a4a7a448ea5a21a6ae6ea43d4f096c/include/flatbuffers/flexbuffers.h#L1879-L1889

[2022-02-28 16:14] technobaboo commented on #7134
That's the weird part, this is inside the c++ file that flatc generated by using the command
[code]
(see https://github.com/StardustXR/libstardustxr/blob/main/src/common/flatbuffers/message.hpp#L4-L8)

It includes the file, but still errors. Weirder still, this only ever occurs on v2.0.6 and not when reverting the flatbuffers version back to 2.0.5

[2022-02-28 18:21] dbaileychess commented on #7134
If you remove the `#ifdef FLATBUFFERS_H_` part does it work? I don't see anything obvious on why it isn't being linked in.

[2022-02-28 19:41] aardappel commented on #7134
Looks like `flexbuffers.h` somehow got included manually before the generated code. Can you scan where you include `flexbuffers.h` and see what happens if you remove/move it to below the generated code include?

[2022-02-28 20:33] #6781 closed

[2022-02-28 21:30] CasperN commented on #7111
I have a slight preference for an attribute over a flag, but its not very strong.

I'm mostly concerned with maintainability.

A naive implementation would touch almost everywhere and be a nightmare to maintain. Imo, the "right" way of doing this would involve first refactoring every code generator. Everywhere where we interact with the name of a type, we should instead interact with an accessor c

[2022-02-28 22:04] volkan-ozdemir commented on #7111
I just recently upgraded to 2.0.0 and noticed the case style warnings. I'm not a major contributor to FlatBuffers yet, but I still wanted to comment as a user.

I think it's understandable that flatc defaults to Google code style. However, so many other projects with different C++ code styles are using FlatBuffers. Especially for projects that use the object API, table/field names strongly affect

[2022-02-28 23:32] TJKoury commented on #7111
The `flatc` flag would probably be the easiest to implement technically, and transparent to current users.  The issue as mentioned above is portability; two users would create different codebases depending on their flags.  Adding a schema-wide, top level attribute makes it portable.

[2022-02-28 23:40] aardappel commented on #7111
A `flatc` flag has the additional advantage of allowing users to choose which languages to apply this to. There may be users that have use cases for overriding one particular language but not the others. They would not be served by having this feature as attributes.

[2022-03-01 01:16] dbaileychess commented on #7111
OK, sounds like a new flag would be ideal. I will deprecate the `cpp-field-case-style` and transition that over to a new `field-case-style` and `object-case-style` flags that can specify the intended output case.

@CasperN I did start on one part of the refactoring, making out our disparate `MakeSnake` `MakeCamel` functions use the same common [ConvertCase](https://github.com/google/flatbuffers/bl

[2022-03-01 01:50] jkuszmaul commented on #6994
Altight, I think I've got something for this, I'll try to put together a test for it as well...

[2022-03-01 17:06] TJKoury commented on #7111
My recommendation is to simply have a `preserve-property-name` flag.  No need for that level of granularity. Any user can simply follow their own conventions, whether or not those conventions are already present in flatc.

[2022-03-01 17:15] CasperN commented on #7111
IMO, `preserve-property-name` by itself seems too niche to justify by itself. On the other hand, non-google style guides seem a lot more prevalent, and "keep casing" can be a simple specialization of the general feature.

[2022-03-01 17:25] ywang-nr opened #7136 "Flatbuffer 1.11.0 failed with errors"
Environment Versions:
1. cmake 3.22.2
2. make 3.81
3. clang 13.0.0

Problem:
1. Script
  git clone https://github.com/google/flatbuffers.git
  cd flatbuffers
  git checkout 1.11.0
  cmake -G "Unix Makefiles"
  make --> failed here with error messages at multiple places as below

mobile_flatbuffer_schemas/flatbuffers/include/flatbuffers/flatbuffers.h:1720:25: error: definition of implicit copy cons

[2022-03-01 18:04] TJKoury commented on #7111
I agree in principle, at the same time it is a lot more work since there are infinite style guides and “best practices” to pull from.  Seems like a very large task to tackle to prevent a behavior not present in other schema parser/code generators.

[2022-03-01 18:33] gonpombo8 commented on #7078
any news on this ? @dbaileychess
Thanks in advance 😄

[2022-03-01 20:33] #6789 closed

[2022-03-01 21:49] jkuszmaul opened #7138 "[Java] Improper escaping of keywords in field names"
When I created #7137 to address keywords escaping in typescript, I added the following stanza to `monster_test.fbs` to test things:

[code]

This resulted in the following output for Java:
https://github.com/google/flatbuffers/runs/5382596719?check_suite_focus=true

[2022-03-01 21:50] jkuszmaul opened #7139 "[C++] Improper escaping of enum type names"
When I created #7137 to address keywords escaping in typescript, I added the following stanza to `monster_test.fbs` to test things:

[code]

This resulted in the following output for C++, suggesting that an enum named `class` is not being escaped properly:
https://github.com/google/flatbuffers/runs/5382595992?check_suite_focus=true

[2022-03-01 22:23] jameskuszmaul-brt opened #7140 "[C++] Improper escaping of table named "export""
If you create a table named `export` the generated code is inconsistent and ends up with the errors in https://github.com/google/flatbuffers/runs/5382749465?check_suite_focus=true

[code]

[2022-03-01 22:24] jameskuszmaul-brt opened #7141 "[Go] Improper escaping of tables named "var""
See, e.g., https://github.com/google/flatbuffers/runs/5382947641?check_suite_focus=true where I had a table named var and am getting:

[code]

[2022-03-02 16:58] dbaileychess commented on #7134
Yeah, let's leave this open for now, I'll need to look into how to do this correctly.

[2022-03-02 17:01] dbaileychess commented on #7136
Looks like an issue with the copy constructor for that comparator.

Is there a reason to work on version 1.11.0? You are getting the latest code and building it, you should almost always be running from top of master.

[2022-03-02 17:16] dbaileychess commented on #7111
One of the more popular code generators (protobufs) has strict styling like we do (https://developers.google.com/protocol-buffers/docs/style#message_and_field_names). @TJKoury do you have examples of other code generators that output custom identifier names so we can see how they approached that problem?

One negative of having user-custom naming in the schema file is, it is practically impossible

[2022-03-02 17:26] CasperN opened #7142 "RFC: Centralize naming convention"
Currently, the various code generators reinvent their own ways to escape keywords and recase identifiers to fit with local style.
DRY style concerns aside, the manual approach might not be working so well given #7137, #7138, #7139, #7140, and #7141. #7111 discusses overriding our casing conventions which would require touching almost everywhere, but would be easy given centralized naming.

In http

[2022-03-02 17:29] CasperN commented on #7142
Also, imo, `case_fmt_.Type(x)` tells me more about the semantics of the generated code  than `ToUpperCamelCase(x)`

[2022-03-02 17:40] Bklyn commented on #7111
I'm not @TJKoury but what I want is the identifiers in my schema left as-is.

[2022-03-02 17:41] dbaileychess commented on #7142
Thanks @CasperN, I think this would be a good utility class to have.

Class name might be `NamingManager` or something, since it does more than just case manipulations.

I would make overloads for each of the methods that take in a `const std::string&` as well.

How do we handle:

1. Namespacing? Since these are often part of the name but may have different styling and separators (`::`, `.`, etc..

[2022-03-02 17:47] dbaileychess commented on #7111
@Bklyn I understand your request, but it might make the most sense to do the conversion from CamelCase/snake_case to the format you need. If it is a non-standard format, I would be curious in knowing the format.

As mentioned above, some languages might not support/ or complain about odd formats. So codifying the odd format in the schema limits portability to an extent.

[2022-03-02 17:52] aardappel commented on #7134
The problem is we ideally want to keep these headers independent.

One solution may be to just add a copy of that function to the generated code.

[2022-03-02 17:59] aardappel commented on #7142
Yes, something like this would refactor the existing code, and centralize "how to make something camelcase" etc in one place. Then any overriding flags are suddenly simple to implement.

Each language would instantiate a default.

Generally sounds good to me? Of course a fair bit of work to do this, and I am not that convinced that these overriding options are that desirable, but I don't feel stro

[2022-03-02 18:32] technobaboo commented on #7134
It doesn't look very complicated at all, I think that makes the most sense
at first glance

On Wed, Mar 2, 2022 at 12:52 PM Wouter van Oortmerssen <
***@***.***> wrote:

[2022-03-02 18:41] aardappel commented on #7111
FlatBuffers also has a de-facto standard styling (inherited from Google-style C++ since we don't modify the identifiers in C++ codegen) of e.g. `snake_case` for fields and `UpperCamel` for types. We should probably specify that more precisely in the docs. If you want to go along with the formatting of your language's standard like most users, you should still be using the FlatBuffers standard in y

[2022-03-02 18:42] CasperN commented on #7142
In the long run, it's not clear to me that we should be using strings everywhere. There's a semantic difference between a fully qualified type, `ns_a.ns_b.ns_c.TableA`; the type,  `TableA`, and its namespace, `ns_a.ns_b.ns_c`; and maybe these should be different types. We use a ton of strings and lose some type system protections for it...

However, that would be a different mass refactoring, so I

[2022-03-02 19:05] TJKoury commented on #7111
@dbaileychess I simply need the names to be left alone, since I’m integrating into wildly non-standard production code.  Generators like [this](https://github.com/vega/ts-json-schema-generator) or [this](https://www.xsd2code.com/) or any of the multitude of other generators usually don’t mess with your prop names.

It might just be my inexperience with some of the generators / languages like Lobst

[2022-03-02 19:11] TJKoury commented on #7111
@aardappel The [Google Style Guide for ECMAScript](https://google.github.io/styleguide/jsguide.html#naming-rules-by-identifier-type) seems to be at odds with the guide for C++.  For example the CONSTANT_NAME style breaks the current parser.

[2022-03-02 19:18] dbaileychess commented on #7111
Thanks for the links. The issue with those generators is, AFAICT they are for a single language output, so it is much easier to handle (or lack of handling) naming. On our hand, we have to support 13+ different languages, so any solution has to work well for them all.

I still haven't gotten an answer for what type of casing you need to support. From https://spacedatastandards.org/#/code, it looks

[2022-03-02 19:51] aardappel commented on #7111
That doesn't matter? FlatBuffers follows the Google C++ style, not the JS one. For JS we transform identifiers to fit that style, like we do for all languages.

[2022-03-02 21:17] TJKoury commented on #7111
@dbaileychess [Here's one I used recently that does multiple languages](https://quicktype.io/).  I understand that feature of Flatbuffers and it is very powerful, would not want to take away from the ability to have different properties resolve to the same field.  However, for my use case, it is absolutely required.

I will give you a brief example as to why:

If you go to [this link](http://celes

[2022-03-02 22:00] TJKoury commented on #7111
Not to belabor the point, I have absolutely been in situations where “does the column header have an underscore or not” is the question that decides if critical data is used for a mission.

Often the mission includes expensive hardware and sometimes the lives of astronauts.

Trying to figure out which language was used to create the .csv that was then converted to Excel and translated three times

[2022-03-02 22:03] dbaileychess commented on #7111
That quicktype.io seems to be opinionated in casing. At least the example on the front page takes the name `"high score"` in json and outputs `person.highScore` in whatever language that is.

Yes, that is expected because our code generators assume the schema naming are following the snake_case/CamelCase conventions and uses that to spit out the language-specific naming.

Those are bugs in the imp

[2022-03-02 22:09] TJKoury commented on #7111
It’s terrifying.  I have written regular expressions that look like short stories trying to match every possible convolution of a property name.

[2022-03-02 22:13] aardappel commented on #7111
Don't assume intention. The JS port was made by a variety of people thru the years, and mistakes may have been made. We want to best support whatever the language standard is, and if it isn't, we should fix it.

Also, for C++ we have to pick a specific style guide because there's multiple standards, but for most other languages there is just one, and it doesn't need to be Google flavored.

[2022-03-02 22:19] TJKoury commented on #7111
True, a form of Hanlon’s Razor is at play here.

It would be helpful to have references called out for each so we know with what we are striving to comply.

[2022-03-03 04:05] jkuszmaul commented on #7142
I'm not sure where the best place for this is, but there also tends to be a bit of statefulness that can be needed to account for some things. E.g., I encountered a situation where for typescript if I created a `.fbs` with:

[code]

The generated code ends up with a constructor for `TableNameT` that looks like:
[code]

which results in a name conflict because within the context of the constructor,

[2022-03-03 04:42] CasperN commented on #7142
That's a good point, and there's a similar shadowing issue in #6845.

I think always using fully qualified types might be the way to go... but does that actually solve your problem if `foobar` and `TableName` are both in the root namespace?

[2022-03-03 04:52] jkuszmaul commented on #7142
Fully qualified names don't resolve the issue I was noticing--but it could simplify the logic around the already-existing code to handle this with imports. To resolve what I was noticing, maybe there's some fancy typescript syntax to help (despite mostly talking about typescript here I don't actually develop in typescript much...); alternatively, you could enforce a naming convention for the gener

[2022-03-04 08:42] alechy opened #7143 "[C#] Trans Wrong"
test.fbs
[code]
test.cs
[code]

two same function :
[code]

[2022-03-04 17:47] CasperN commented on #7142
#7143 is another casing related bug: Two fields are different in the schema but, due to case-style normalization, generate the same symbol, which is invalid.

[2022-03-04 19:56] CasperN commented on #7143
This is a bit of an edge case, presumably you expect the two functions to be `AddExchange_Fee` and `AddExchangeFee`?
Is renaming your fields an option?

This arises because Flatbuffers assumes schemas have a particular style, which we'll normalize to a local style in whatever language you generate.

https://google.github.io/flatbuffers/flatbuffers_guide_writing_schema.html

[2022-03-04 20:33] #6798 closed

[2022-03-05 00:46] alechy commented on #7143
yes ,i need two functions be AddExchange_Fee & AddExchangeFee.

C++ work fine.

[code]

[2022-03-05 07:41] dbaileychess opened #7145 "[RFC] Annotated binary schema"
Our binary format is fairly complex to parse since there is lots of indirection and other padding bytes that are non obvious ([example](https://github.com/google/flatbuffers/blob/master/tests/monster_test_bfbs_generated.h#L15)) . While most of us don't care what the binary format is, it is sometimes useful to help debug issues or find bugs.

Would there be any interest in a way to generate an anno

[2022-03-05 11:27] mikkelfj commented on #7145
You mean auto-generated similar to how JSON is generated?
I have been thinking about this too, recently. I think it would be very useful.

[2022-03-05 17:04] dbaileychess commented on #7145
Yes, some tool (not sure if part of flatc or separate binary) that would take in a binary and schema and output this file.

[2022-03-05 17:39] #6994 closed

[2022-03-05 22:24] CasperN commented on #7145
I think that'd be neat but who is this for and what will they use it for?

I presume users' needs are mostly taken care of by bfbs --> json tooling, since they'd just want to see their data.
Maybe they care about vtable/string duplication rates? Or presence/nonpresence of fields for mutation?

I don't know if we do enough binary analysis for this to be useful. Off the top of my head, we'd use it w

[2022-03-06 00:58] dbaileychess commented on #7145
Yeah, it is mostly going to be for developers of flatbuffers internals than end users. But I don't see the harm in exposing it to others, especially if we went tooling based off of it (like your html/js example).

I also think it would be nice to check in the binary formats for each of the generators, so we can see how the on-wire format changes. Right now we just look at the generated code, but I

[2022-03-06 01:39] dbaileychess commented on #7145
It also might be nice for end users to optimize their schemas a bit. They can see how padding is inserted and perhaps make other tweaks.

[2022-03-06 13:18] mikkelfj commented on #7145
I have a lot of situations where users have a buffer that doesn't quite work, and it is hard to tell if the alignment is wrong, or they forget to end the buffer cleanly, or there is genuinely a bug somewhere. In fact there is such a case on Google Groups right now, I just don't have the time to dig into the details.

[2022-03-06 14:23] mikkelfj commented on #7145
BTW: if such a tool is implemented in flatc, it would be nice if it could also handle struct buffers though I am not holding my breath. Struct buffers are buffers where the root is a struct. This was in the original spec, but later removed, though FlatCC does support them.

[2022-03-06 20:33] #6459 closed

[2022-03-06 21:52] agg23 commented on #5024
Still not stale

[2022-03-07 06:33] daycoolgoodfall opened #7147 "Destroy the United StatesDestroy the United StatesDestroy the United StatesDestroy the United StatesDestroy the United StatesDestroy the United StatesDestroy the United States"
Destroy the United StatesDestroy the United StatesDestroy the United StatesDestroy the United StatesDestroy the United StatesDestroy the United StatesDestroy the United StatesDestroy the United StatesDestroy the United StatesDestroy the United StatesDestroy the United StatesDestroy the United StatesDestroy the United StatesDestroy the United StatesDestroy the United StatesDestroy the United States

[2022-03-07 19:49] mikeholler opened #7152 "Publish Flatbuffers Kotlin to Maven"
From what I can tell, it looks like Kotlin Multiplatform is supported by Flatbuffers, but I can't find anywhere to download the artifact from. I'm coming to the conclusion that this project does not publish the Kotlin artifacts to Maven, and I would like to see that happen. Is this a correct assessment? What needs to be done to get this over the line?

[2022-03-07 20:01] mikeholler commented on #7152
Also have noticed that Kotlin is not listed as a supported language on this site: https://google.github.io/flatbuffers/flatbuffers_support.html

[2022-03-07 20:33] #6807 closed

[2022-03-08 02:29] CasperN opened #7153 "Update Platform/Languages/Feature Support table"
https://google.github.io/flatbuffers/flatbuffers_support.html seems out of date

- I haven't seen some of those maintainers around.
- @dbaileychess isn't on there.
- Lua isn't on there
- AdvancedUnionFeatures aren't on there
- there's a bunch of `?`s there

[2022-03-08 07:27] #6817 closed

[2022-03-08 19:34] dbaileychess commented on #7142
I'll take cpp/c sharp/lua/json schema/fbs/text

[2022-03-08 20:06] dbaileychess commented on #7145
I taken a start at this and it looks promising.

@mikkelfj I cannot promise struct buffer support right away, but I don't see anything obvious that would preclude including it at somepoint.

[2022-03-08 20:38] #6806 closed

[2022-03-08 20:52] jkuszmaul opened #7154 "[TS] Add bazel rule for typescript codegen"
Just documenting something I am working on in the background currently...

Add a `flatbuffer_ts_library` bazel rule for generating typescript code. Note that because bazel needs to statically know what files will be generated by the flatbuffer compiler, I intend to also modify the typescript codegen to have an option to generate a single output file (like how, e.g., C++ does it). The alternative w

[2022-03-08 21:43] insertjokehere opened #7155 "Flatc does not escape Dart keywords [Dart, master]"
The Dart implementation has logic (https://github.com/google/flatbuffers/blob/master/src/idl_gen_dart.cpp#L155-L163) to escape Dart keywords, but it does not appear to actually use this logic, so building a Flatbuffer schema like:

[code]

By running `flatc --dart --gen-all --gen-object-api keywords.fbs` generates the attached Dart source code, which is not valid.

[keywords_generated.dart.txt](ht

[2022-03-08 21:59] insertjokehere opened #7156 "Flatc does not consistently normalize property names within structs [Dart, master]"
When generating Dart code, flatc normalizes most properties to "lower camel case" style, except inside structs. This means that schemas like this:

[code]

Will generate invalid Dart code:

[code]

Note `foo_bar` vs `fooBar`

[2022-03-08 22:42] mikeholler opened #7158 "[kotlin] flatc --kotlin monster.fbs does not produce code compatible with the kotlin/ directory of this repository"
The `kotlin/` directory of this repository contains the FlatBuffers core library written in a multi-platform way. The top-level package it uses is [`com.google.flatbuffers.kotlin`](https://github.com/google/flatbuffers/tree/master/kotlin/flatbuffers-kotlin/src/commonMain/kotlin/com/google/flatbuffers/kotlin). When I compile `flatc` locally and run it against `monster.fbs`, I get, among other thing

[2022-03-09 04:17] CasperN commented on #7142
More thoughts:
- There's some facilities built into `BaseGenerator` e.g. `WrapInNamespace`, `NamespaceDir`, and `CommentConfig` which are similar to `Namer`.
  - These should be moved into `Namer` so it can also be used by Grpc generators and Bfbs generators which do not inherit from the base generator... though inheritance would've been nice so we won't have to use `namer_.` as a prefix everywher

[2022-03-09 05:05] jkuszmaul commented on #7154
Got a messy version with the necessary components at 2e1e8138f9e426477051fc1af3815c267bd69a6c

[2022-03-09 06:07] dbaileychess commented on #7145
Still working on this, but here is the output so far https://pastebin.com/BGCBwXSY for a simple schema I am using to test it:

[code]

[2022-03-09 14:54] thansen24 commented on #6887
I came across this exact scenario where I was using pooled byte arrays that were larger than the actual content and solved it this way.

[code]

Then you can make a ByteBuffer using that allocator:

[code]

[2022-03-09 15:24] CasperN commented on #7145
Looks great!

purely optional formatting nits:
- Consider using `|` as the separator everywhere, rather than `|`, `Val:`, and `--`
- Consider aligning the comments column too
- There's "structure field", "array field" and just "field", maybe the last one should be "table field" to be consistent?
  - All those descriptions end with "value" which is perhaps redundant.
  - Also consider saying "struc

[2022-03-09 17:03] Paulchen-Panther opened #7160 "Compile Problem with legacy CMakeLists.txt"
The introduction of failover when the CMake version is lower than 3.16 contains a bug (PR #7049).
We build Hyperion using Docker containers still running on Debian Stretch. The CMake version in the Docker containers is 3.7.2.

First the link to the Log (GitHub Actions):
https://github.com/hyperion-project/hyperion.ng/runs/5473816163?check_suite_focus=true

In the legacy version, the cmake project

[2022-03-10 03:29] dbaileychess commented on #7160
Hmm, nothing changed in the legacy CMakeLists.txt since I moved it out. So it seems odd that it was start failing.

Do you have CMP0048 set? https://github.com/google/flatbuffers/blob/master/CMake/CMakeLists_legacy.cmake.in#L9

[2022-03-10 03:43] dbaileychess commented on #7142
These should be moved into Namer so it can also be used by Grpc generators and Bfbs generators which do not inherit from the base generator... though inheritance would've been nice so we won't have to use namer_. as a prefix everywhere.

SG

We can tackle that later.

Can you make it a template that takes anything that has a `std::string` `name` field?

Well, it needs someway to know where the bre

[2022-03-10 04:03] dbaileychess commented on #7145
I had them separate to make parsing the files a bit easier. But I can make them all `|` if desired.

Will do that at the end, since I need all the data present to figure out the common offset to use.

I considered this, but felt that each "section" referred to something is pointed-to, and that isn't the case for structs/arrays. What if we have some other, inline indicator?

[code]

Will Do.

perso

[2022-03-10 07:20] Fokson opened #7162 "[C++] flatc doesn't create a working _generated.h file"
Attempted to follow the tutorial provided, using the monster.fbs schema and the newest compiled binary release of flatc ( 1.12 / 2.0 ).

The generated file is under half of the size of the example provided in the repo:
![image](https://user-images.githubusercontent.com/740655/157608659-cf168eae-eb96-48c7-a3f9-c0c8ff021f5d.png)

The monster_generated.h file created by flatc doesn't compile, giving

[2022-03-10 08:37] paulovap commented on #7158
Hi @mikeholler. The kotlin code generated code still uses the java runtime, so you must declare the flatbuffers runtime for java as dependency. The code you see on `/kotlin` folder is still in development and is not production code.

I am working on a pure kotlin runtime and hope to remove this dependency from java soon.

[2022-03-10 08:41] paulovap commented on #7152
Hi @mikeholler kotlin multi platform is still underdevelopment and not fully support.  That is why you don't see it in maven yet. I am working on it but it will take a few months before it gets stable enough for use.

If you are interesting in help development let me know, there is some task that can be parallelized and I can make it more available.

[2022-03-10 09:29] mikkelfj commented on #7145
Just a few quick observations to paste bin:

Padding between objects, e.g. after string terminator, are not listed, but can be useful for debugging, though noisy.

It would be very helpful til list the effective address of offsets.

Notably voffsets, that are actually subtracted. These are currently listed as positive values, e.g. +0x000A, while they are in fact -0x000A. But be careful: FlatCC gen

[2022-03-10 16:14] CasperN commented on #7145
P for padding would work too as an inline indicator. Though, I worry it might not be super readable and the information is in the comments column too.

Yeah, examining the "negative space" is probably interesting. It seems like a good side channel to sneak data around.

There could be warnings in the comments column if:
- Padding / negative space is non zero
- Padding / negative space is  >7 bytes

[2022-03-10 17:22] aardappel commented on #7142
I can imagine! This has grown very organically, in many cases people finding spots in a language codegen that missed the right name generation long after the initial port.. nice to finally have that all centralized and cleaned up!

[2022-03-10 17:31] Paulchen-Panther commented on #7160
I looked again in your commit history and found that not the PR #7049  has introduced the change but the commit 8aa18b629163d8c878fe0b8aba743cd554ec37ca

No, it is not found in our code.
The question is, is the CMP0048 policy set when a submodule (in our case [rpi_ws281x](https://github.com/jgarff/rpi_ws281x/blob/4b41a83c6aeb945cd7cdf6e1b4f764f4943f4b1f/CMakeLists.txt#L12)) sets its own version nu

[2022-03-10 17:35] kennycarruthers opened #7163 "[Swift] Option to exclude import statement in generated Swift files."
The generated Swift file always `import FlatBuffers` at the top. It would be nice if there was an option for `flatc` to conditionally exclude that line being imported.

If you are just dropping the appropriate Swift FlatBuffer files into an Xcode project rather than using the Swift package, then the `import FlatBuffers` is not needed and produces an error.

Note that this should be separate from t

[2022-03-10 18:07] dbaileychess commented on #7162
It seems like there is a version mismatch between the generated code and the runtime libraries used. We recently added a third argument to the verifier that it looks like the generator you are using is not aware of.

You have to make sure the generated files and runtimes are at the same version.

[2022-03-10 18:08] Paulchen-Panther commented on #7160
I will test. Thanks for your help

[2022-03-10 18:34] CasperN commented on #7162
Maybe we can add a static assert for this?

[2022-03-10 18:46] #7154 closed

[2022-03-10 19:06] Paulchen-Panther commented on #7160
I have located the error.
Explanation: https://public.kitware.com/Bug/view.php?id=16069#c40879

That means, even if we leave out the minimum cmake version, the policy on your site (from cmake version 3.0) is set to NEW.

Proof:
![image](https://user-images.githubusercontent.com/16664240/157736629-0c7f90c1-c380-4df3-9f48-f7002dfc6541.png)

[2022-03-10 19:13] Paulchen-Panther commented on #7160
To further confirm this, I added an output before adding flatbuffers.
The following image is with cmake_minimum_required().
The second without cmake_minimum_required() is the one posted before.

![image](https://user-images.githubusercontent.com/16664240/157737596-f2ce0c22-b360-4bc0-ac14-aa3dbe5062a9.png)

[2022-03-10 19:36] Paulchen-Panther commented on #7160
What I don't quite understand is what the main problem has to do with CMP0048? I am only concerned with the DESCRIPTION option in the cmake project() command. CMP0048 is meant for the VERSION option, which is supported from CMake 3.0. But it does not cause me any problems.
You still have to check the CMake version. If it is lower than 3.9 you cannot use the DESCRIPTION option in the project() comm

[2022-03-10 19:39] dbaileychess commented on #7160
I included DESCRIPTION within the CMP0048 check because it was suggested to do so: https://github.com/google/flatbuffers/issues/6930#issue-1055984518 But that doesn't seem to be correct. Thanks for spotting.

[2022-03-10 19:48] Paulchen-Panther commented on #7160
It should be enough to place the check in the legacy CmakeLists.txt file.
Sample:
[code]

[2022-03-10 21:02] mustiikhalil commented on #7163
That's a good idea! You can create a pr, or I can just add it next week. We built it in the assumption of that people are going to use SPM

[2022-03-11 08:46] Fokson commented on #7162
Would it be possible for you to put out a new version on the releases page?  Seems the most recent one is from May 2021, which I suppose explains that.

[2022-03-12 03:38] kennycarruthers opened #7169 "[Swift] Return Data from ByteBuffer."
In [pull 7093](https://github.com/google/flatbuffers/pull/7093/commits), `ByteBuffer.underlyingBytes` was added. Is there a reason this API returns an `Array[UInt8]` rather than the more common `Data`?

The `JSONEncoder` returns a `Data` and in almost every case where I'd like to use serialized data, it would be as `Data`, not `Array`. I'm pretty sure that calling `Data(underlyingBytes)` causes a

[2022-03-12 08:44] mustiikhalil commented on #7169
That was added for a special case, so if you want to actually get the data behind the buffer, you should always use the `FlatbufferBuilder.data` instead because the byte buffer doesn't know when the data has been serialized.

[2022-03-12 18:00] kennycarruthers commented on #7169
Fair enough. I see that `ByteBuffer` is used throughout `FlatBuffers` which would make it annoying to convert back-and-forth between `Data`.

I was originally using the Object API which provides a convenient `serialize` function that returns a `ByteBuffer` but not `Data`.

(Feel free to close this.)

[2022-03-13 10:06] mustiikhalil commented on #7169
If you want there is an [API](https://github.com/google/flatbuffers/blob/e5f331db998a808f78cf5a4880e6f5d0a321c4d0/swift/Sources/FlatBuffers/FlatBufferObject.swift#L41&L51), that you can use that passes a `FlatbufferBuilder` to the `serialize` function that should allow you to extract the data object each time instead of getting a `ByteBuffer`

[2022-03-13 19:33] dbaileychess commented on #7162
What release page are you referring too? I don't think this has to do with how we do releases.

Where did you get this?

If you meant from [here](https://github.com/google/flatbuffers/tags) you also have to use the runtime libraries from those zip files. You cannot use the compiled binary from them and then use the library form HEAD on github.

[2022-03-13 19:39] dbaileychess commented on #7143
It works in C++ because the default formatting is to Keep the case of what the user wrote in the schema file. That isn't true of the C# version, which converts the expectant [snake_case into UpperCamel](https://github.com/google/flatbuffers/blob/master/src/idl_gen_csharp.cpp#L194).

This is causes both `Exchange_Fee` and `ExchangeFee` to be interpreted as `ExchangeFee` in the C# code gen. Which re

[2022-03-13 19:40] dbaileychess commented on #7118
@tzyrq Any update to this? Otherwise I will close it.

[2022-03-13 19:49] dbaileychess commented on #7136
We treat all warnings as errors as we want to produce the most correct version of flatbuffers we can. Any warnings we get from the compiler should be examined in our opinion.

Going back to the reason you are seeing it. We [delete the copy assignment operator](https://github.com/google/flatbuffers/blob/bc901436dbe574bda153d1b2693e048c9b23a502/include/flatbuffers/flatbuffer_builder.h#L958-L959) of

[2022-03-13 20:00] dbaileychess commented on #7145
Yes, this is a known omission at the moment. I don't have the length of the string region so I don't know how much padding is placed. I can calculate this after all the binary sections are emitted, I can go back through and fill in the empty parts with padding information.

What is shown in `Loc:` is the absolute location that the offset is pointing too.  I'll update the comment field of `SOffset3

[2022-03-13 20:52] CasperN commented on #7145
if we don't want to rule out the html/hyperlink idea, it probably should be part of the data structure.

[2022-03-13 21:56] mikkelfj commented on #7145
I misread the Loc information. All good.

[2022-03-14 11:51] #7160 closed

[2022-03-14 17:39] Fokson commented on #7162
Yeah, from [here](https://github.com/google/flatbuffers/releases/tag/v2.0.0). That's my bad, I was using the direct link from the tutorial page ( [here](https://google.github.io/flatbuffers/flatbuffers_guide_tutorial.html) ) to get the example .h file and using the latest available binary release, and didn't realize how outdated it was.

That being said, after downloading the source that matched t

[2022-03-14 20:36] #6649 closed

[2022-03-15 20:33] #6816 closed

[2022-03-15 20:34] #5146 closed

[2022-03-15 23:21] dbaileychess commented on #7162
Keeping this open to do an assert when we detect a mismatch.

[2022-03-16 02:33] Peakchen opened #7173 "When will golang map support be added ???"
rt

[2022-03-16 03:12] CasperN commented on #7173
I don't think anyone is working on this. Would you like to submit a PR?

[2022-03-17 20:33] #6821 closed

[2022-03-17 20:33] #6825 closed

[2022-03-17 20:33] #6721 closed

[2022-03-18 00:20] CasperN opened #7175 "Structure aware fuzzing"
@vglavnyy implemented our current fuzzers [^1] which take in a binary blob that's generated with libfuzzer's default mutator.

While this will eventually generate all flatbuffers, the space of binaries is exponentially large, and this might take a while. We should create custom (structure aware) mutators [^2] to help improve fuzzing coverage/efficiency.

The Libfuzzer mutation API is essentially t

[2022-03-18 06:30] aardappel commented on #7175
mutation is incredibly hard in the general case though, possibly better to formulate in terms of regenerating an entire buffer (or making a copy) with 1 change?

[2022-03-18 17:10] CasperN commented on #7175
Mutation might be necessary for efficient use of Libfuzzer though. My understanding is that clang generates code that tracks how many times each branch is taken, Libfuzzer tracks a corpus of interesting examples that covers many branches, then Libfuzzer expands the corpus by mutating interesting examples to generate more interesting branches.

Yeah, that's what I was getting at for generating vali

[2022-03-18 17:17] dbaileychess opened #7176 "Verify Input Binaries for Annotated Binaries"
Spinning off of #7174 to track work on verifying the offsets/sizes for the annotated flatbuffer work.

[2022-03-20 18:01] stefan301 opened #7178 "[C++] Verification of size prefixed flatbuffers with reflection fails in VerifyAlignment"
We use reflection to Verify size prefixed flatbuffers quite a while. Because there is no VerifySizePrefixed we initialized the Verifier with the address after the size prefix and the buffer size - sizeof(uoffset_t). This worked until we upgraded from 2.0.0 to 2.0.6.
Now this fails in VerifyAlignment.

We had some generated Code using the same pattern - VerifyXxxBuffer and a Verifier initialized wi

[2022-03-20 21:25] j1ah0ng opened #7179 "[all languages, master] Dependency in `build_defs.bzl` on generated package breaks downstream user imports of `build_defs.bzl`"
Commit e5f331db998a808f78cf5a4880e6f5d0a321c4d0 adds this line to `build_defs.bzl`
https://github.com/google/flatbuffers/blob/d3aeee32bba0ca65edadf1ce3b00334a80f3b41d/build_defs.bzl#L9
where `@npm` is defined in `WORKSPACE` as
https://github.com/google/flatbuffers/blob/d3aeee32bba0ca65edadf1ce3b00334a80f3b41d/WORKSPACE#L62-L65
Since `@npm` may change in projects that depend on `@flatbuffers//:buil

[2022-03-22 22:10] #7169 closed

[2022-03-22 22:35] kennycarruthers commented on #7169
Great, thank you.

[2022-03-22 23:34] jkuszmaul commented on #7179
I can pull the typescript rule into a separate `.bzl` so that users of `flatbuffer_cc_library` don't need to depend on it. Anything that uses the new rule will need to have `@npm` available, though, so that can't be avoided.

[2022-03-22 23:56] j1ah0ng commented on #7179
I agree - it doesn't seem like there's a sane way of avoiding pulling in `@npm` itself downstream, which is unfortunate. Thanks for the quick turnaround with the pull!

[2022-03-23 04:42] #7163 closed

[2022-03-23 04:43] dbaileychess commented on #7179
Thanks for the report.

[2022-03-23 04:43] #7179 closed

[2022-03-23 04:56] #6869 closed

[2022-03-23 09:50] pig3800 opened #7184 "The key attribute does not generate corresponding code in Lua"
How to use the Key attribute in Lua?

Thanks!

[2022-03-23 15:34] michaelcosta opened #7185 "Kotlin Multiplatform Support"
Just wondering if there's any plans to support Kotlin Multiplatform once the Kotlin export is officially supported as well? Currently it's using the jvm runtime jar that isn't setup as a multiplatform library, which I believe would require a decent amount of work to migrate.

[2022-03-23 20:35] #6827 closed

[2022-03-24 04:38] dbaileychess commented on #7184
Its not currently implemented in Lua. Lua is a pretty bare bones implementation.

[2022-03-24 21:10] Nolaphx1 opened #7186 "dave"
Thank you for submitting an issue!

Please make sure you include the names of the affected language(s), compiler version(s), operating system version(s), and FlatBuffers version(s) in your issue title.

This helps us get the correct maintainers to look at your issue. Here are examples of good titles:

- Crash when accessing FlatBuffer [C++, gcc 4.8, OS X, master]
- Flatc converts a protobuf 'bytes

[2022-03-24 22:55] #7186 closed

[2022-03-25 00:35] #7176 closed

[2022-03-25 05:50] pig3800 commented on #7184
Thanks!

[2022-03-25 05:51] #7184 closed

[2022-03-26 10:44] TheButlah opened #7189 "Platform IO support"
Could you add the library.json necessary to support PlatformIO, or otherwise publish to the PlatformIO registry?

[2022-03-28 00:43] FallingSnow opened #7190 "[TS] Regression in generating from simple schema"
When upgrading from `flatc` version 2.0.0 to 2.0.5 it no longer correctly generates proper typescript code. Using the schema below (`datapoint.fbs`) `data.ts` and `datapoint.ts` files are generated. `data.ts` contains usable code but imports `datapoint.ts`. `datapoint.ts` only contains a single line, a reference to itself.

`datapoint.fbs`
[code]

[code]

Generated `datapoint.ts`
[code]

[2022-03-28 02:19] CasperN commented on #7190
@krojew for ts support

I tried to reproduce it myself and it seems to me that the problem is a name collision. The generated files include`${your_schema}.ts` and `${your_type[i]}.ts` for each of your types. The type `Datapoint` and the schema file name `datapoint.fbs` both try to generate `datapoint.ts` and collide.

A simple workaround would be to rename your schema file. My 2c for a fix would b

[2022-03-28 03:08] domoritz commented on #7190
I think I am seeing the same issue when trying to [create the ts code for Apache Arrow](https://github.com/apache/arrow/blob/master/js/DEVELOP.md#updating-the-arrow-format-flatbuffers-generated-code).

[2022-03-28 18:15] jkuszmaul commented on #7190
FWIW, the single-file ts codegen flag I created for #7161 would allow you to work around this, although it does actually generate self-imports (although they are at least correct self-imports), but I imagine that swapping to that would be more work than getting the relevant codegen fixed for this case.

Seems like making the top-level generated file for typescript have a `_generated` (well, whatev

[2022-03-28 18:32] jkuszmaul opened #7191 "[TS] --ts-flat-file generates self-imports"
Since as far as I know I'm the only user currently and it doesn't block me yet, just creating this ticket for documentation purposes.

If you pass `--ts-flat-file` to `flatc` when generating typescript code, you will get some self-imports in certain cases. E.g., the below code gets generated for `typescript_keywords.fbs`. This happens because we generate imports for any types used as fields of oth

[2022-03-28 18:47] gonpombo8 commented on #7078
😢

[2022-03-28 19:14] dbaileychess commented on #7078
Sorry, I haven't use TS or flexbuffers myself, so I didn't investigate this.

[code]

Shouldn't there be a 4 as the first item in the TS case? And it is missing the rest of the type values (4) for items 51, 52 and 53. So there appears to be some issue with the flexbuffer builder `addInt()`

[2022-03-28 19:19] bjornharrtell commented on #7078
Ah didn't notice it was flexbuffers.. that is also a part I have never used. 😬

[2022-03-29 21:39] mustiikhalil commented on #5798
Closing since the swift lib has reached a stable performance measure. I hope swift will reach a better performance metric in the future.
[code]

[2022-03-29 21:39] #5798 closed

[2022-03-30 07:29] linchuan4028 opened #7196 "HashTable in Flatbuffer?"
We are going to use the flatbuffer as the data format in our search index (not the message passing in RPC).
Consider that the flatbuffer only support an array, if we want a hashtable to search the value, we need to read the record one by one and insert them into a c++ or golang hashtable.
I realize that the `key` in Attribute, however, it only support in c++ SDK and the binary search can't meet ou

[2022-03-30 18:06] CasperN commented on #7196
We don't have plans to support hash tables within flatbuffers itself. You're welcome to open an issue and start a design but it will be a lot of effort to get it approved then implemented everywhere since all the maintainers are part time. There are surprisingly many of design choices around hash tables.

That said, I think this is a fairly popular topic and we would invest in it if there's enough

[2022-03-30 22:46] CasperN opened #7198 "idl_gen_kotlin"

[2022-03-30 22:47] #7198 closed

[2022-03-30 23:59] #7118 closed

[2022-03-31 00:00] dbaileychess commented on #7145
Calling this done. There are a few cleanups I want to do, but the functionality is there.

[2022-03-31 00:03] dbaileychess commented on #7189
Not sure what that involves. PR are welcome.

[2022-03-31 00:04] dbaileychess commented on #7044
No complaints. Closing.

[2022-03-31 00:04] #7044 closed

[2022-03-31 00:05] dbaileychess commented on #7190
#7098

[2022-03-31 00:07] dbaileychess commented on #4162
Good news, this is progressing internally. We will have an official NuGet package at some point!

[2022-03-31 00:08] dbaileychess commented on #4919
@Ryanmtate Are you still interesting in doing this?

[2022-03-31 00:54] Ryanmtate commented on #4919
Yes, I am still interested. A bit busy at the moment, but this would be a nice have for a work project I am working on.

I'll need to revisit in a month or so when I am have more time.

[2022-03-31 07:13] paulharris opened #7200 "Compile with -Wmissing-declarations"
Hi,

Your docs say you compile with a lot of warnings enabled, with warnings treated as errors,
that's great,

have you considered also adding -Wmissing-declarations?
flatbuffers won't compile with that flag added.

cheers :)

[2022-03-31 07:43] paulharris commented on #7200
Have you also considered:
-Wzero-as-null-pointer-constant

flatc generates code with zeros instead of NULL or nullptr,
which is throwing up warnings when I compile in the generated headers.

Would be nice if it wasn't using zero, especially for C++17 mode...

[2022-03-31 18:20] snowp opened #7201 "[Swift] Support specifying FlatBuffers dependency as implementation only"
We're trying to use the generated Swift files within a Bazel build, wherein we have to mark the FlatBuffers import as `@_implmentationOnly` and avoid public types. For now we're working around this with https://github.com/envoyproxy/envoy-mobile/pull/2141/files#diff-c5cff54722ae3eae49696d086c379a7599f6bfd28a715470e933e3e1db7fe22dR36-R43, but it would be awesome to be able to do this directly witho

[2022-03-31 19:01] CasperN commented on #7200
I'd be happy with maintaining that, would you like to contribute a PR for it?

[2022-03-31 19:10] CasperN commented on #7201
The Java code generator uses the "private" attribute on structs and enums to make them "package-private" in the Java sense. Perhaps that could be coopted?

[2022-03-31 19:51] snowp commented on #7201
Awesome to see that we can just add the private attribute to avoid them being exposed!

For the import, we want it to generate `@_implementationOnly import FlatBuffers` in order to prevent the build to attempt to expose the import. AFAIK omitting the import is not going to do the right thing

[2022-03-31 21:23] keith commented on #7201
Awesome! (for reference: https://github.com/google/flatbuffers/pull/7202)

One thing is that things likely cannot be public if you do this, do you think this option should imply that, or should it be up to the user to specify the right attributes for that too?

[2022-03-31 21:25] mustiikhalil commented on #7201
If that's the case, we will need to force everything to be internal.

[2022-03-31 23:33] dbaileychess opened #7204 "Speed up CI"
The [average time](https://github.com/google/flatbuffers/actions?query=branch%3Amaster+is%3Asuccess+event%3Apull_request) for CI on a pull_request is ~10-15 minutes. This could be a bit faster, especially since we rely on CI to help test changes on a wide number of environments that people don't personally have.

[2022-03-31 23:36] dbaileychess commented on #7204
The `Build Android (on Linux)` and `Build Kotlin MacOS` targets are the two longest (each over 6 minutes). Lets focus there first.

Also Fuzzing was done for 10 minutes which is a bit long IMO. I addressed this by cutting it down to 1 minute for now: [59e9713](https://github.com/google/flatbuffers/commit/59e971308169ea82536b3f2fd37e45ca2274b3b1) and we can reevaluate if we need more.

[2022-04-01 01:08] TheButlah commented on #5575
Does this logic extend to the C++ version too?
![image](https://user-images.githubusercontent.com/6969415/161175302-bcfd5837-5025-4d46-bbe2-a3e10624e9ba.png)
Quat here is a struct. Why does it let me `CreateSensorReport`?

[2022-04-01 01:37] aardappel commented on #5575
@TheButlah what is your schema? Can't see if there's anything funny about your code without it. If `SensorReport` is a table that only contains a vector of struct then the above seems fine.

And C++ does not have the above-mentioned problem that Java has, because creating temp structs is cheap. They are typically "inline", except in the case of a vector of structs, because the vector is a separate

[2022-04-01 01:42] CasperN opened #7205 "Rust should respect "private" annotations"
The generated code for Java and Swift restrict visibility of flatbuffers types if they're annotated with `(private)`. The semantics are "package private" Java, which I think maps on to `pub(crate)` in Rust. It should be easy enough to implement if and when any users ask for it

[2022-04-01 02:00] linchuan4028 commented on #7196
Thanks for your quick feedback. What about the 3rd question.
`key` in Attribute (binary search) supported in golang SDK

[2022-04-01 02:45] CasperN commented on #7196
No current plans for binary search support in Go but feel free to contribute a PR!

[2022-04-01 04:18] #7162 closed

[2022-04-01 04:41] dbaileychess commented on #7134
@technobaboo can you try out the linked PR to see if it works for you?

[2022-04-01 07:52] stefan301 opened #7209 "[C++] flatc generates invalid Code in the default constructor for structs, when --cpp-field-case-style is used"
When --cpp-field-case-style upper or --cpp-field-case-style lower is used for the following schema, flatc generates invalid code:

[code]

```flatc.exe --cpp --cpp-field-case-style lower Guid.fbs```

generates this Code:

[code]

[2022-04-01 08:09] stefan301 opened #7210 "[C++] flatc generates invalid Code for union field accessors, when --cpp-field-case-style is used"
flatc generates invalid code for the following schema, when --cpp-field-case-style upper or --cpp-field-case-style lower is used:

[code]

The command

```flatc.exe --cpp --cpp-field-case-style upper Attribute.fbs```

generates this code:

[code]

Value_as_AttributeValueInt() and Value_as_AttributeValueString() call value_type(), while its name is Value_type().

[2022-04-01 10:45] paulovap commented on #7204
I can take a look on both, not sure if there is much on Android to be done, but I think Kotlin we can break down the job to different targets(x64, arm, etc) to parallelize.

[2022-04-01 10:47] paulovap commented on #7185
I am working on it, but it has been fairly slow to be honest.

Most of it is done, just need a few more tests and integration with Java's ByteBuffer for compatibility. You can follow the progress here

https://github.com/paulovap/flatbuffers/tree/pp/kotlin_fb_runtime

[2022-04-01 20:35] #7209 closed

[2022-04-01 21:38] michaelcosta commented on #7185
Would you be able to provide a quick rundown on what that would entail? I might be able to help out as it could save us a lot of dev effort overall by simplifying our mobile parsing. I see you've got the ArrayReadWriteBuffer backed by just ByteArray, where would the ByteBuffer integration need to happen?

[2022-04-01 22:56] stefan301 commented on #7210
Fixed by PR #7211

[2022-04-01 22:56] #7210 closed

[2022-04-02 08:42] TheButlah commented on #6800
I believe I just ran into this. I've tried so many different incantations of flatc that its not even funny. This one got me the closest, with all imports between the various files correct, and its kinda nice that each type seems to be put in its own file (even though thats not how the fbs files were written...). However, the toplevel `mod.rs` only generates a `pub use` statement for the last type

[2022-04-02 15:26] CasperN commented on #6800
Yeah, sorry. There's a lot of legacy cruft implementation in there and the original variations made problematic assumptions. I need to deprecate the foot guns

This is required to correctly map flatbuffer's c++ style namespaces onto Rust modules... it's a long story. The old thing was broken too  - it basically didn't support multiple `.fbs` files.

---

Now that I'm revisiting this, I think I can

[2022-04-03 11:49] Saikatsaha1996 opened #7214 "Flatbuffer build error in termux help wanted"
Trying to install flatbuffer in termux android.. but getting error in last time..

error: undefined symbol: __android_log_print
![Screenshot_2022-04-03-17-19-01-027_com termux](https://user-images.githubusercontent.com/72664192/161426518-eb80894b-ef46-4400-9b14-4641e8fe03d1.jpg)

[2022-04-03 21:26] kennycarruthers opened #7215 "[Swift] Required fields have default values in generated Swift code."
Given the following schema:

[code]

The Swift generated code uses force unwrapping for the required fields, but uses default values in initializers and constructors, effectively making the required fields optional.

[code]

Is this the intended behaviour? At least in the Swift implementation, the current behaviour allows the caller to create a new FlatBuffer without specifying a value for a requi

[2022-04-03 22:19] mustiikhalil commented on #7215
Hey, thanks for opening the issue!

Looks like a bug to me (at least in the `createEntity` function. since that should not allow the user to create default fields if they are required.

[2022-04-04 15:36] kennycarruthers opened #7216 "[Swift - Feature Request] Expose a property in the generate code for the file identifier."
When using a `file_identifier` in your Schema, the generated C++ code includes a function for accessing its value. However, in the generated Swift code, the value is used inline and there is no equivalent accessor. It would be helpful if the `file_identifier` was exposed as a Swift property similar to how it's exposed in C++.

**Schema.fbs**
[code]

**C++ Code**
[code]

**Swift Code**
[code]

[2022-04-04 18:14] dbaileychess commented on #7214
I would just build `flatc` and skip building the tests.

Otherwise, we don't usually support debugging build issues, since we won't be able to reproduce them.

[2022-04-04 18:29] Megamouse opened #7217 "VerifyField usage does not compile since 2.0.6."
Updating flatbuffers from 2.0.5 to 2.0.6 breaks compilation, since VerifyField now takes 3 arguments instead of 2.

Seems weird that you'd create breaking changes like this in a patch version :(
Is there a simple way to fix this, like adding a default parameter that is compatible with the old implementation?

[2022-04-04 19:00] Saikatsaha1996 commented on #7214
Can you give me please. ./configure option ?

[2022-04-04 21:38] FallingSnow commented on #7191
The self importing might be related to #7190.

[2022-04-04 21:47] jameskuszmaul-brt commented on #7191
No, this is a distinct issue. I was lazy in writing the code and basically made the flat file be generated approximately by concatenating the original files. Which also meant doing all the same imports, but now rather than imports of other files they are imports of the same file. #7190 actually doesn't apply to flat-file generation at all, because for the flat files we don't need the summary file.

[2022-04-04 22:10] dbaileychess commented on #7217
There is complexity on how do properly version things, since we have 12+ languages we have to coordinate. It is a known issue.

Just regenerate the code-gen files with the new version (2.0.6).

[2022-04-05 01:22] kennycarruthers opened #7219 "[Swift] Verifier does not check file identifier."
I'm not sure what the current state is for Verification support within Swift, but the current implementation does not appear to take the `file_identifier` into account when verifying a buffer. However, the C++ generated code does.

**Schema:**

[code]

**C++ Code:**

_Note the top-level functions that are generated which consider the `identifier` when performing validation._

[code]

**Swift Code:

[2022-04-05 05:35] Megamouse commented on #7217
Makes sense 🤣
My bad.
I'll close the issue, although I still think it shouldn't break existing code.

[2022-04-05 05:35] #7217 closed

[2022-04-05 05:45] dbaileychess commented on #7217
Its understandable to have it not break, but we aren't at the point where our version numbers are truly semantic.

In brief, if we bump up the version for C++ to say 3.0 due to this breaking change, we would have to release versions 3.0 for all the supported languages, even though there is no breaking change in those languages.

[2022-04-05 09:17] TheButlah commented on #5024
Damn its a real shame this isn't implemented - it would make my schema *so* much simpler

[2022-04-05 11:31] TheButlah opened #7220 "[Rust] Support structs in unions"
Wrapping datatypes in tables is not zero-cost, so we would want to be able to avoid doing this just to be able to hold a union of structs. Not having it means that many patterns are *extremely* painful, and also less performant for all other languages, unless I simply don't target rust as one of my generated languages.

Example `foo.fbs`:

[code]
Error:
[code]

What would it take to get support fo

[2022-04-05 11:51] mustiikhalil commented on #7219
Hey, thanks for opening the issue.

Yeah we can definitely include this, however i am not sure when i would be able to implement this due to work.

[2022-04-05 15:02] CasperN commented on #7220
I don't have the bandwidth to do this in the short term but I'm happy to guide and review a PR if you're willing to write it.

Structs in unions are bundled with vectors of unions and strings in unions (#6075) so this should be tackled together.

Prior work also includes #5024

[2022-04-05 15:06] kennycarruthers commented on #7219
Oh yeah, no worries. Just figured I'd document this in case other Swift users encountered it. Thanks for the existing work on this package, much appreciated.

[2022-04-05 17:13] TheButlah commented on #7220
In your opinion how difficult/realistic is it for someone with no prior knowledge of flatbuffer internals to work on it? I will give it my best shot but it might be beyond my capacity 😅 .
Some pointers on where to start are good!

[2022-04-05 17:58] CasperN commented on #7220
Should be doable, I'd say it's medium hard. The generated code for this change shouldn't be too subtle [^1], there's just a lot of code surrounding it.

[^1]: unless you plan on reworking unions in general to make them more type-safe. The current implementation lets you put whatever table you want in a union without complaints. Making that a compile time error would be great but its not necessary

[2022-04-05 18:24] TheButlah commented on #7220
How long would you expect it to take the average googler unfamiliar with the flatbuffer internals (but familiar with flatbuffers API)? This will help me determine if I go ahead with my schema and add rust support later

[2022-04-05 20:26] CasperN commented on #7220
I think it'll take you like 12 focused hours (give or take a factor of 2).

You don't need to be familiar with the flatbuffers binary format (though obviously it would help).
Most of the challenge will be understanding how the rust code generator and its generated code works
so if [idl_gen_rust] seems grok-able, I wouldn't be worried - that file probably has almost everything you need

Also feel f

[2022-04-05 20:34] #6847 closed

[2022-04-05 20:34] #6844 closed

[2022-04-05 20:41] TheButlah commented on #7220
Oh I'm not a googler, I just wanted to know for my own planning. I'll give this a go over the weekend, probably

[2022-04-05 23:29] #7134 closed

[2022-04-06 08:47] manhnt9 opened #7223 "[TS] Compatibility with grpc-js"
I reported the issue in `grpc-js` repo but it seems like there's something we should do with FB's code generator.
Affected version: 2.0.

Details: https://github.com/grpc/grpc-node/issues/2070

### Environment
 - OS name, version and architecture: Ubuntu 20.04 amd64
 - Node version: v12.13.0
 - Node installation method: nvm
 - Package name and version: grpc-js - 1.5.10

[2022-04-06 11:01] avaliente-bc opened #7224 "Cannot build with -Wconversion -Werror [C++, gcc >= 9, Flatbuffers 2.0.6]"
Hello,
I'm trying to build a C++ project using flatbuffers 2.0.6. This project uses -Wconversion and -Werror.
When I'm including my generated C++ file, that have `#include "flatbuffers/flatbuffers.h"`, I get the following errors:
[code]
This is a weird behaviour because it looks like `c & 0xDF` is treated as an int, while `'a' & 0xDF` is treated as a char.
This is reproduced with GCC 9.4.0 and 11.

[2022-04-06 11:21] avaliente-bc opened #7225 "[C++ / iccarm (IAR) / flatbuffers 2.0.6] Allow to build without std::optional even if C++17 is enabled"
Hello,
I'm trying to use flatbuffers with IAR compiler for ARM (iccarm 9.20.4).
`stl_emulation.h` tries to use std::optional if it finds a c++17 capable compiler, but according to the compiler documentation: `The compiler also supports the added language features in ISO/IEC 14882:2017 (C++17), but not the added library features`.
So `__cplusplus >= 201703L` is true, but the compiler does not provi

[2022-04-06 11:32] avaliente-bc opened #7226 "[C++ / iccarm (IAR) / Flatbuffers 2.0.6] Span count_ is const, but operator= performs assignment"
Hello,
I'm trying to use flatbuffers with IAR compiler for ARM (iccarm 9.20.4).
The compiler reports an error in `stl_emulation.h`:
[code]
The issue comes from `span::operator=` method, defined as folowwing
[code]
and `count_` is declared as `const size_type count_;` so it cannot be modified.

[2022-04-06 11:46] avaliente-bc commented on #7225
Ok i just noticed it's fixed with b8c77d4041474c3ba2eb0c003c75944136821fa1, I just have to wait a release

[2022-04-06 11:46] #7225 closed

[2022-04-06 20:30] dbaileychess commented on #7224
I just submitted 14615699fa5b which should make it easy to add this warning. Would you like to do a PR for this and fix those issues?

[2022-04-06 20:31] #7201 closed

[2022-04-06 20:40] #7226 closed

[2022-04-06 20:40] dbaileychess commented on #7214
I'm sorry, I'm not sure what you mean by `./configure` option. We don't use .configure.

[2022-04-06 20:54] #7216 closed

[2022-04-06 20:54] #7219 closed

[2022-04-06 21:50] mustiikhalil commented on #7215
@kennycarruthers Regarding this issue after looking into it a bit

We do verify if the fields are added when we run  `endMonster` which runs `fbb.require(table: end, fields: [10]);` and thus we don't really need to make the functions require the value. However, it seems that the proper approach would be fixing it

[2022-04-07 14:54] avaliente-bc commented on #7224
Actually there's a lot more changes to do than I first saw with my local build to allow -Wconversion to pass

[2022-04-07 20:34] #6842 closed

[2022-04-07 21:12] 23scurtu opened #7232 "Incorrect CreateUninitializedVector documentation [C++]"
The documentation for [CreateUninitializedVector](https://google.github.io/flatbuffers/classflatbuffers_1_1_flat_buffer_builder.html#ac2b96292fa0fb1534fe7fd218a094d0c) seems to be incorrect. Particularly this line:

`buf` can be invalidated by subsequent calls to FlatBufferBuilder methods. For example, if calling CreateUninitializedVector twice such as when creating a flatbuffer that contains two

[2022-04-08 01:21] alaindargelas opened #7233 "msys2-gcc compile error"
Hi all,
this is a brand new error, probably introduced in the last few days.

https://github.com/chipsalliance/Surelog/runs/5878056399?check_suite_focus=true

/d/a/Surelog/Surelog/third_party/flatbuffers/src/annotated_binary_text_gen.cpp: In function ‘std::string flatbuffers::{anonymous}::ToValueString(const flatbuffers::BinaryRegion&, const uint8_t*, const flatbuffers::{anonymous}::OutputConfig&)

[2022-04-08 03:18] dbaileychess commented on #7233
Thanks, I added this recently. Let me see why its failing for your build.

[2022-04-08 03:48] dbaileychess commented on #7233
@alaindargelas Can you try with the latest?

[2022-04-08 12:24] ohpauleez opened #7235 "Dictionary can't lookup `0` key for long keys [Java, JDK 17, flatbuffers 2.0.3, Linux / macOS]"
Thanks for all the work that goes into Flatbuffers!
This issue was observed on Linux (Ubuntu 20.04) and MacOS, using flatbuffers-java 2.0.3, on jdk17.

To recreate:
Construct a Dictionary with Long keys and Float values:
[code]

Build Flatbuffer of `{0: 1.0}` and attempt to `example.entriesByKey(0)`.  This will return `null`.
If you change the map to be `{1: 1.0}`, `example.entriesByKey(1)` correc

[2022-04-08 18:44] dbaileychess commented on #7235
I think this is the same as #5970 ?

I used to do java for work, but now only do C++. So I never got around to fixing it :(

@paulovap Would you be able to take a look at this?

[2022-04-08 18:54] ohpauleez commented on #7235
Thanks for the triage @dbaileychess !
It does look like the same issue (or at least the same root cause).  I apologize for the noise - I was searching through the issues for "dictionary" and didn't think to search for "sort"/"sorted".

Let me know anything I can do to help

[2022-04-08 19:01] dbaileychess commented on #7235
From the top of my head, I think it has something to do with the key being omitted from the binary since `0` is the default value. Can you try setting the default value of key to be some random value and see if that "solves" the issue? If it does, then we might have to avoid omitting defaults when a the `key` attribute is applied.

[2022-04-08 21:08] plwalsh commented on #6313
comment

[2022-04-08 22:28] #7215 closed

[2022-04-09 01:04] alaindargelas commented on #7233
@dbaileychess, fixed, thanks!
https://github.com/chipsalliance/Surelog/runs/5893313776?check_suite_focus=true

[2022-04-09 01:04] #7233 closed

[2022-04-10 13:10] paulovap commented on #7235
@dbaileychess see if #7236 solves this issue. Indeed the key field with default value was not being written, then lookup code was reading trash data since the value was absent.

[2022-04-11 08:11] TheButlah commented on #7220
I'm starting with the "strings in unions" feature. Looking at `idl_gen_rust`, I see nothing in `GenEnum` that ought to prohibit a string. Am I missing something? Will it be enough to just turn the check for strings off in `idl_parser.cpp`?

[2022-04-11 20:35] #6864 closed

[2022-04-11 20:35] #6858 closed

[2022-04-12 00:18] michaelcosta opened #7240 "Union as sealed class in Kotlin"
This will likely end up as another for @paulovap and something I will likely attempt to add here or in the KMP fork (https://github.com/google/flatbuffers/issues/7185) but:

I was wondering why a union of types generates a companion object of vals instead of an enum (swift) or sealed class? We have a use case where `MessagePayload` is a `union` of valid request/response types. Swift is able to use

[2022-04-12 07:23] paulovap commented on #7240
Kotlin does what java does for compatibility of the runtime.

Java uses constants over Enum because enums takes more space in the heap and are slightly more inefficient in comparisons.

Can you describe it a little more how is this a problem for you? Is it just ergonomics (like exhausting items in a switch) or is there something else?

[2022-04-12 14:44] michaelcosta commented on #7240
It's mostly the ergonomics of it. We have a generic request builder that takes in a lambda for the inner payload and (on swift) the `BridgePayloadType` enum.
[code]

I didn't really think about the efficiency / heap size when raising the issue so thanks for the reasoning as to why it is created in this way

[2022-04-12 16:19] paulovap commented on #7240
One option I was thinking about is to take advantage of value classes instead of primitive type, we could keep performance and add some type safety in exchange of a little bit bigger binary size. Something on the lines of:

[code]

Would that help with your use-case?

[2022-04-12 17:04] michaelcosta commented on #7240
Yes that would be perfect actually, the ability to maintain type safety would be great and feels like it conforms a bit better to the recommended usage of `union` as it's more clear that it's scoped to that outer `value class`

[2022-04-13 05:49] ryan-motive opened #7241 "Wrap FB object inside FB object without copy?"
I'm trying to write a protocol with FlatBuffers that has separate transport layer from the messaging layer. I'd like to use FlatBuffers for both layers. The goal is for a transport relay server to be able to read and manipulate the outer layer with as little effort as possible, and without having to manipulate or read the inner message. Ideally the whole thing could be done on both client & server

[2022-04-13 15:50] ryan-motive commented on #7241
Thanks @mzaks - this definitely simplifies the accessor side, but it looks like it suffers from the same issue on the writing side. Seems like the only option is a custom FBB that lets me point to an existing buffer? I think the only step I need to add is to prepend the vector length?

[2022-04-13 16:19] ryan-motive commented on #7241
Yup - "PutInt"-ing the size and then using that offset in a subsequent FlatBuffer seems to have done the trick. 👍

[2022-04-14 04:19] MalekiRe commented on #7134
I am having this issue.

[2022-04-14 08:41] lp35 commented on #4969
Badly need this.
Does anyone tried to implement it?

[2022-04-14 14:49] CasperN commented on #4969
I don't think so. You're welcome to contribute if you need it!

[2022-04-14 16:55] ohpauleez commented on #7235
Thanks for the quick turnaround here.  I spent the past weekend with the code and traced it to the same spot.
I updated our project's submodule of flatbuffer and confirmed it fixed the bug -- many thanks!

The package-qualified classnames generated by the compiler are still incorrect on this branch, but that's easy enough to patch by hand after the fact.

Again, thanks for the solid work here!  I'

[2022-04-14 17:12] dbaileychess commented on #7235
Can you file a new issue for your other stuff so it can be tracked?

[2022-04-14 17:15] dbaileychess commented on #7134
This is merged now, so do you have the latest code?

[2022-04-15 03:49] manhnt9 commented on #7223
Possible fixes merged but haven't been released. I think I can use that version. Someone contributed several days after 2.0.0 release last year. https://github.com/google/flatbuffers/pull/6654

[2022-04-15 03:49] #7223 closed

[2022-04-15 11:08] ohpauleez commented on #7235
The package name formatting is fixed on the latest master.  Thanks again @dbaileychess and @paulovap

[2022-04-15 22:34] dbaileychess opened #7248 "[C++] Object API - Skip including empty vectors"
In C++ Object API, the generate ObjectT contain empty `std::vector<T>` that are then serialized in the generated `Pack` function. There is no check if the vector is empty, so it will create a vector of size 0 (which increases the size of the binary).

[2022-04-15 23:31] CasperN commented on #7248
It's also semantically wrong if we're going to give users control over nullability of vectors as per #6053

[2022-04-16 16:18] domoritz commented on #7190
@krojew @CasperN Can you take a look at this regression?

[2022-04-19 15:59] michaelcosta commented on #7185
@paulovap ping in case I can be of assistance

[2022-04-20 05:23] meniku commented on #4969
I would be interested in this as well

[2022-04-20 11:56] marwie opened #7258 "no exported member ``Long``"
Hello,

I've been using flatbuffers v2.0.4 for some months now in my typescript project. But since this morning I'm getting the following error message when trying to build:

``module flatbuffers has no exported member named Long``

I'm importing it as ``import { Builder, Long } from "flatbuffers";``

I dont think this is an error directly related to flatbuffers (?) but I wonder if anyone has an i

[2022-04-20 12:01] marwie commented on #7258
Ah just noticed https://github.com/google/flatbuffers/pull/6998
due to ``^2.0.4`` it implictly updated to ``2.0.6`` and broke my code.

[2022-04-20 12:06] marwie commented on #7258
How should I handle compiling my ts schemes now?

Running ``flatc --ts myscheme.fbs`` still produces code like this: ``time():flatbuffers.Long`` and  ``this.bb!.createLong(0, 0)`` which throws errors now

[2022-04-20 18:27] paulovap commented on #7185
I @michaelcosta. I tried to breakdown the changes to see if I can get more external support, but the way it is right now it's not possible. I will need more time to shape the change better so it can be parallelized. I will ping you once I have something I can work with.

[2022-04-20 22:22] dbaileychess opened #7260 "Cannot annotate `.bfbs` generated with `--bfbs-filenames {path}` option"
_Originally posted by @dbaileychess in https://github.com/google/flatbuffers/discussions/7259#discussioncomment-2604893_

[2022-04-20 22:23] dbaileychess commented on #7258
@bjornharrtell

[2022-04-21 06:45] bjornharrtell commented on #7258
Long has been removed entirely and replaced with native BigInt support. See https://github.com/google/flatbuffers/pull/6998.

This change deserved more than a patch level bump, which I wrote at https://github.com/google/flatbuffers/pull/6998#discussion_r779611994. I can however fully understand that comment was missesd/forgotten and tracking and bumping major version level per individual language

[2022-04-21 06:51] oss-fuzz-robot opened #7261 "OSS-Fuzz issue 46221"
OSS-Fuzz has found a bug in this project. Please see https://oss-fuzz.com/testcase?key=5858301135421440 for details and reproducers.

This issue is mirrored from https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=46221 and will auto-close if the status changes there.

If you have trouble accessing this report, please file an issue at https://github.com/google/oss-fuzz/issues/new.

[2022-04-21 07:34] marwie commented on #7258
@bjornharrtell I've downloaded the flatc version from releases (2.0.0) - do you have any info on when a new release (pre-compiled version) will be officially available?

[2022-04-21 07:43] bjornharrtell commented on #7258
@marwie sorry no, I'm maintainer (free time only) of the TS/JS parts only.

[2022-04-21 07:44] bjornharrtell commented on #7258
@dbaileychess it would make sense to me that if there is an official 2.0.0 compiled flatc that a new release is cut since there are (unintended) breaking changes in code generation.

[2022-04-21 08:15] marwie commented on #7258
Thank you @bjornharrtell ! Maybe someone else has info on a timeframe for the next release?

[2022-04-21 09:49] oss-fuzz-robot opened #7262 "OSS-Fuzz issue 46883"
OSS-Fuzz has found a bug in this project. Please see https://oss-fuzz.com/testcase?key=5201432904597504 for details and reproducers.

This issue is mirrored from https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=46883 and will auto-close if the status changes there.

If you have trouble accessing this report, please file an issue at https://github.com/google/oss-fuzz/issues/new.

[2022-04-22 03:32] xf97 opened #7263 "How does flatbuffers do the unit testing for code generation function?"
Hi, I'm working on a project similar to flatbuffers and I'm struggling with how to unit test the code generation function of my project. So I want to know how flatbuffers unit test the code generation function, without telling me too many details. all I need is which cpp program is responsible for the unit test (I can read the code myself to learn).

Mainly programming language: C++ and Golang.
OS

[2022-04-22 03:40] dbaileychess commented on #7263
Well you can always test the generated code directly, by writing test code that uses it. We do that heavily in all the languages.

The other thing we do is check in the generated code to the repo, that way we can see the deltas of the codegen when we make a change. Then during reviews we can see how the codegen is modified.

[2022-04-22 03:41] dbaileychess commented on #7260
Fixed in [0bbfd4b](https://github.com/google/flatbuffers/commit/0bbfd4b2e3adaf9a92e1ef5a44b0dd79704bbae3)

[2022-04-22 03:41] #7260 closed

[2022-04-22 03:53] xf97 commented on #7263
emmmm, I think I should first describe my definition of unit testing to you: For example, is there a program in this repo that performs a process similar to:
1. Declare the Parser
2. Add structures and fields to Parser, such as a table with an int field
3. Run CppGenerator to parse the Parser and then generate the cpp code, i.e., generator.generate()
4. Check that the generated code (e.g, CodeWrit

[2022-04-22 04:04] dbaileychess commented on #7263
If you search through https://github.com/google/flatbuffers/blob/master/tests/test.cpp for `parser`, you will see that we do all sorts of tests using the Parser and checking the output.

But we actually prefer testing at the higher level. If you make any change to the codegen, you will see the check-in generated code files change and immediate are aware of the deltas.

[2022-04-22 04:06] xf97 commented on #7263
Ok, thanks, I got it, I will read the code myself to learn how to do it.

Thanks again.

[2022-04-22 04:06] #7263 closed

[2022-04-22 14:34] taroplus opened #7264 "[flatbuffers-java] when to release latest to maven repo ?"
Hello, the latest version I can see in mvn repo is 2.0.3 (published Sept 2021). It looks there's 2.0.6 tag, what is the release cycle and when can I expect the new version to be published to maven repo ?

https://mvnrepository.com/artifact/com.google.flatbuffers/flatbuffers-java
Thanks
-Kohki

[2022-04-22 14:46] #7262 closed

[2022-04-22 15:07] Eisenheim9 opened #7265 "'strtoull_l' was not declared in this scope [C++, gcc 10.3, Alpine 3.14, flatbuffers 2.0.6]"
I am using vcpkg and since its latest update of flatbuffers to 2.0.6 I have the following errors on Alpine:
[code]
[code]

With flatbuffers 2.0.0 it builds fine, but the error appeared since commit 6c8c291559053f90a35c138499053449a40e3b9a.

A quick fix was to remove `#include "flatbuffers/util.h"` from `flatbuffers/verifier.h` and add `#include "flatbuffers/util.h"` in `src/bfbs_gen_lua.cpp`, and

[2022-04-22 16:32] dbaileychess commented on #7265
Thanks, sometimes these refactors are hard to evaluate when cannot test every environment.

[2022-04-22 18:27] dbaileychess commented on #7265
@Eisenheim9 Can you let me know that my change in #7266 fixes the issue for you.

[2022-04-22 18:28] dbaileychess commented on #7264
@paulovap

[2022-04-23 09:49] Eisenheim9 commented on #7265
Yes it fixes the issue, thank you!

[2022-04-23 09:49] #7265 closed

[2022-04-23 13:55] mustiikhalil commented on #7205
I can pick this up since I'm trying to get more into rust.

[2022-04-24 08:55] hassila opened #7270 "[swift] Generated code does not allow for differentiating between null vectors and vectors with 0 elements"
Just found the support for optional scalars in flat buffers (https://github.com/google/flatbuffers/issues/6014) and the implementation for scalars (https://github.com/google/flatbuffers/pull/6038) and played a bit with it now to see how the generated Swift code would look and found an issue:

For a struct inside a table, an optional accessor is correctly generated by default:

[code]

likewise for

[2022-04-24 08:56] hassila commented on #7270
Ping @mustiikhalil ?

[2022-04-24 09:36] hassila commented on #7270
Forget about the question about iterator support, I just saw that I missed the third aspects of the accessor and that it already exists that way;

That gives option C, which is also source breaking:

`  public var intVector: [UInt64] { return _accessor.getVector(at: VTOFFSET.intVector.v) ?? [] }
`
should be:
`  public var intVector: [UInt64]? { return _accessor.getVector(at: VTOFFSET.intVector.v)

[2022-04-24 20:23] mustiikhalil commented on #7270
I think just adding a `var hasIntVector: bool { let o = _accessor.offset(VTOFFSET.doubleVector.v); return o == 0 ? false : true }` or something like that.

[2022-04-24 20:25] hassila commented on #7270
Yes, that's basically option B as I see it, would be good enough I think

[2022-04-25 06:49] hassila commented on #5875
Even later: 1, 4, 8, 9, 10 (definitely always frame with a length field for streaming, more important than file id IMHO).

[2022-04-25 15:36] paulovap commented on #7264
Usually @aardappel does the releases, I don't have the credentials/know-how. I don't mind doing it if it can be done by someone outside google.

[2022-04-25 15:45] yurivict opened #7272 "Many dependencies fail: error: no matching member function for call to 'VerifyField'"
Projects that depend on flatbuffers fail because flatbuffers-generated headers generated by previous versions aren't compatible with 2.0.6.

The error is:
[code]

[2022-04-25 16:13] aardappel commented on #7264
@dbaileychess has all the keys for doing releases, though if someone external would want to be in charge of that, that could work too.

That said, we have so far only pushed to maven on major releases (and whenever there were breaking bugs caused by the last release). Just because there is a tag in the repo (possibly for use with another language that needed it) doesn't mean we will release for al

[2022-04-25 16:22] paulovap commented on #7264
I think it would be good to release minors per platform, as there are usually important fixes that takes too long to get shipped. Maybe we could do tagging minors per platform, like `2.0.1-java`.

[2022-04-26 16:37] jawadsh123 opened #7275 "[c++] vector of tables is not sorted when using object api"
Hey! 👋

When using `--gen-object-api` and schema
[code]
the generated Pack(ing) code for `values` uses CreateVector and not CreateVectorOfSortedTables

this is also apparent in one of the tests
https://github.com/google/flatbuffers/blob/76d3cca19c76c6f469807c4cdfb5718104a1b26c/tests/monster_test_generated.h#L3018

is this intentional or is it a 🐞?

[2022-04-27 11:29] Raildex opened #7277 "Request: Split Serialization/Deserialization codegen"
In our project, flatbuffers are serialized in language A and deserialized in language B.
It would be great if there were flags to control `flatc` to either produce code for serialization or deserialization or both (default).

As an example:

`flatc.exe --cpp --deserialization schema.fbs`
will generate Get* functionality, accessors etc.
`flatc.exe --cpp --serialization schema.fbs`
will generate Cre

[2022-04-27 15:04] CasperN commented on #7277
What would the benefit of this feature be?
Are you running into code size limitations?
What languages would you use this for?
Those with optimizing compilers will strip out the unused code.

[2022-04-27 15:14] CasperN opened #7278 "2.0.7 Release"
@dbaileychess how do we feel about a release?

Requested in #7273

I could try giving this one a go if https://github.com/google/flatbuffers/wiki/FlatBuffers-release-process is up to date

Reading #6967, it seems like we won't need to do any per-language releases.

[2022-04-28 03:19] shuaishuaiyou opened #7279 "数据结构中数组不能嵌套使用"
fbs文件
`// Example IDL file for our monster's schema.

namespace MyGame.Sample;

table FootArr {
  name:string;
  footsize:Size;
}

table Size {
 arr:[uint64];
}

table Hand {
   name:string;
   handsize:[uint64];
}

table HandArr {
  hands:[Hand];
}

table Body{
  hand:[HandArr];
  foot:FootArr;
}

root_type FootArr;`

我的解析：

`@Test
  public static void main(String[] args) {
    FlatBufferBuilder

[2022-05-02 08:01] Tatsh opened #7282 "flattests fails if out-of-source build directory is used"
This is on Linux x86-64, 2.0.6 release. 2.0.0 does not have this issue.

[code]

Output:

[code]

The paths that are set in various fields such as `declaration_file` are relative, and the tests are not expecting this.

[code]

https://github.com/google/flatbuffers/blob/master/tests/test.cpp#L952=

https://bugs.gentoo.org/842060

[2022-05-02 18:50] 06393993 opened #7283 "Add meson build scripts"
We plan to use flatbuffers in [our project](https://android.googlesource.com/device/generic/goldfish-opengl/) which is a C++ project that uses `meson` to build on the Linux x64 platform. Can I add a meson build script to the upstream and maintain that for `meson` on Linux? Thanks!

[2022-05-03 07:20] TheButlah opened #7285 "[Rust] Verifier fails to detect invalid flatbuffer involving structs of the wrong type"
Incorrectly serializing some flatbuffer code in Java like this: https://github.com/SlimeVR/SlimeVR-Server/blob/6d940503af38ab1ff07742864093c798711d7bc6/src/main/java/dev/slimevr/protocol/DataFeedBuilder.java#L120

Schema is here: https://github.com/SlimeVR/SolarXR-Protocol/blob/88d9f7060cdf4c28210fa0138359adf5b768e9fc/protocol/flatbuffers/data_feed/tracker.fbs#L19

Deserializing in rust using the

[2022-05-03 15:30] CTVjweiss opened #7286 "[Python] Missing CreateSharedString()"
The Python builder does not have a CreateSharedString() method as is supported in other languages. For parity with other languages I believe this functionality should be added.

An implementation could look like:
[code]

[2022-05-03 15:38] CTVjweiss opened #7287 "[Python] Missing (key) and Dictionary support"
FlatBuffers in other languages supports a Dictionary-esque type using binary search and sorted string keys. See [FlatBuffers C++ docs](https://google.github.io/flatbuffers/flatbuffers_guide_use_cpp.html#autotoc_md48) for details.

I'm trying to build a binary file with Python and consume it in C#, and while the C# consumer supports the key lookup, the Python code for building the binary does not.

[2022-05-03 21:03] CTVjweiss opened #7288 "[C#] GetByKey needs an allocation-free overload"
I'm using Flatbuffers in C# because I want an allocation free way of accessing my data. However, the current implementation of `GetByKey()` has only one pathway that takes in a `string` and converts it to a newly allocated `byte[]` in the generated `__lookup_by_key` function.

In my opinion this goes against the fundamental design principles of FlatBuffers of minimizing allocations whenever possib

[2022-05-04 05:44] sketch34 commented on #3919
Is it still the case that the best solution to this is having a regular integer field?

[2022-05-04 14:26] Holo-Viktor opened #7290 "allow no filename suffix [all languages, flatc 2.0.0]"
Hello flatbuffers people.
It would be nice to allow no filename suffix at all. I generate files into a "generated" directory and don't need suffixes per file.
I guess an easy way to support this could be to allow an empty string for the --filename-suffix option: `flatc --filename-suffix ""`

The current behavior when passing `""` to `--filename-suffix` results in the `""` being swallowed and the f

[2022-05-05 16:44] CasperN commented on #7290
Hello, so this might be a little annoying to implement since every code generator is implemented slightly differently but #7142 might help. I will keep it in mind as I work on standardizing our code.

[2022-05-05 21:57] TheButlah commented on #7285
In this case the structs are different sizes so it should be possible

[2022-05-05 23:50] CasperN commented on #7285
Not really. We can't tell how big the struct from the binary. We could keep track of every byte and disallow bytes where structs overlap with other data-structures. That'd be pretty complex and slow in practice. Also, that would potentially disallow existing data as it's already legal for the same byte to be referenced in multiple places: strings and tables definitely can be referenced from multip

[2022-05-07 13:06] DenorJanes commented on #3818
Man, you've helped me a lot, thanks!

[2022-05-08 04:38] ouonline opened #7297 "`Exec format error` when cross compiling(v2.0.5 and v2.0.6)"
Hi,

I'm using FlatBuffer v2.0.5 and v2.0.6, compiling for RISCV on Ubuntu18.04 amd64(C++, gcc 7.5.0) and the following error occured :

[code]

while v2.0.0 doesn't have the `generate_code.py` message. I guess `flatc` is called to generate some code in the newer version but the binary format is wrong(compiled for RISCV but run on amd64).

[2022-05-08 14:27] Holo-Viktor commented on #7290
How does this affect the code generators? Isn't the filename concatenated before?

[2022-05-08 22:00] CasperN commented on #7290
We don't centrally open files and give each code generator a file handle, code generators create files themselves decide on how the files are named individually. In some languages, file layout affects modules/namespaces so some code generators make a file per type.

There are also some configuration flags around output directories and code generators also vary the case of the generated files... so

[2022-05-10 15:30] Chick92 opened #7299 "Problem compiling - Ubuntu 18.04 CMAKE version 3.10.2 make version 4.1"
Issue trying to compile flat buffers - Ubuntu 18.04 CMAKE version 3.10.2 make version 4.1

git clone https://github.com/google/flatbuffers.git
cd flatbuffers/
cmake -G "Unix Makefiles" -DCMAKE_BUILD_TYPE=Release
make

CMakeFiles/flatc.dir/src/flatc.cpp.o: In function `flatbuffers::FlatCompiler::AnnotateBinaries(unsigned char const*, unsigned long, std::__cxx11::basic_string<char, std::char_traits<

[2022-05-11 13:02] sketch34 commented on #7191
Will `--ts-flat-file` give us an easy way to create an `index.d.ts` for the entire resulting TS API via `tsc`?

[2022-05-11 15:25] jkuszmaul commented on #7191
It depends on what you mean by "the entire resulting TS API". `--ts-flat-file`is specifically meant for allowing there to be a 1-1 correspondence between schema (`.fbs`) files and generated typescript files. If you have multiple schema files, it's not going to give you just one file.

If you do have multiple schema files and want to generate everything in the same folder structure at once, you may

[2022-05-11 16:44] #7272 closed

[2022-05-11 16:46] dbaileychess commented on #7277
Yeah, i don't see the benefit for the cost it would incur refactoring things.

[2022-05-11 16:47] #7279 closed

[2022-05-11 16:48] dbaileychess commented on #7282
Yeah, our out-of-source build setup is not good at the moment. I would welcome any PRs to fix this.

[2022-05-11 16:48] dbaileychess commented on #7283
Sure, feel free to submit a PR and I can see what it involves.

[2022-05-11 16:52] dbaileychess commented on #7288
Feel free to submit a PR for this.

[2022-05-11 16:58] dbaileychess commented on #7204
@paulovap Seems like the android CI is broken, can you take a look?

[2022-05-11 17:34] ouonline commented on #7297
I found this issue: https://github.com/google/flatbuffers/issues/5569 and set `FLATBUFFERS_BUILD_TESTS` to `OFF` and still had that error, while in v2.0.0 it is OK.

What flags should be added to the build command? Set `FLATBUFFERS_BUILD_FLATC` to `OFF`? But I want a `flatc` for RISCV indeed.

[2022-05-11 20:59] dbaileychess commented on #7297
I actually removed the `generate_code.py` from the CMAKE file, do you have the latest code?

[2022-05-12 02:47] ouonline commented on #7297
I use v2.0.6 and `generate_code.py` is used in https://github.com/google/flatbuffers/blob/v2.0.6/CMakeLists.txt#L555

[2022-05-12 03:15] ouonline commented on #7297
The latest version works. Thanks.

[2022-05-12 03:15] #7297 closed

[2022-05-13 04:48] SkBlaz commented on #7299
Saw similar behavior, perhaps
[code]
Does this work for you? (on Ubuntu 18)

[2022-05-13 06:09] zerocatchup commented on #7299
Are you trying to anything illegal?

[2022-05-13 06:22] zerocatchup opened #7302 "Issue trying to compile flat buffers - Ubuntu 18.04 CMAKE version 3.10.2 make version 4.1"
Issue trying to compile flat buffers - Ubuntu 18.04 CMAKE version 3.10.2 make version 4.1

git https://github.com/google/flatbuffers.git
cd flatbuffers/
cmake -G "Unix Makefiles" -DCMAKE_BUILD_TYPE=Release
make

CMakeFiles/flatc.dir/src/flatc.cpp.o: In function `flatbuffers::FlatCompiler::AnnotateBinaries(unsigned char const*, unsigned long, std::__cxx11::basic_string<char, std::char_traits<char>,

[2022-05-13 21:02] bjornharrtell opened #7303 "Verifier allowing odd size and read out of bounds"
Noted in https://github.com/flatgeobuf/flatgeobuf/issues/214

[2022-05-13 22:15] #7303 closed

[2022-05-16 21:17] fjarri commented on #7081
Any updates on this? It would be nice to have a release with #7273.

[2022-05-16 23:54] marstaik opened #7309 "Cannot add a new field to an existing flatbuffer with reflection"
Read the linked discussion post below to catch up...

I've spent some time digging through the code, and although the reflection code seems to have the ability to expand vector memory and update offsets, it seems unable to do the same thing with the vtable to add in new entries. I haven't investigated into the depth of flatbuffers to figure out exactly if its difficult, or if was just missed.

It

[2022-05-17 08:54] Peakchen opened #7310 "[go] how to add verify data bytes"
c++ has following codes, but go not.
for example:
  bool Verify(flatbuffers::Verifier &verifier) const {
    return VerifyTableStart(verifier) &&
           VerifyOffset(verifier, VT_NAME) &&
           verifier.VerifyString(name()) &&
           VerifyOffset(verifier, VT_SOUND) &&
           verifier.VerifyString(sound()) &&
           VerifyField<uint16_t>(verifier, VT_WEIGHT) &&
           veri

[2022-05-18 05:45] #7261 closed

[2022-05-18 14:55] silvanbrummen opened #7311 "Flatbuffers flattened includes list causes CMake re-generation issues [C++, CMake 3.22.3, flatbuffers 2.0.5]"
Flatbuffers flattens _all_ includes to construct an includes list at the (generated) top level file.

This leads to issues when changes are made to nested files that do not have a direct relation to the top level file and trying to re-generated the flatbuffer files. In this specific example a "deeply" nested file is removed, CMake / flatbuffer file re-generation leaves the import to the removed fi

[2022-05-18 15:55] arsdever opened #7313 "Different structure sizes when filled with zeros"
Compiler: clang version 13.0.0 (https://github.com/llvm/llvm-project d7b669b3a30345cfcdb2fde2af6f48aa4b94845d)
Target: x86_64-apple-darwin21.4.0
flatc version: 2.0.6

I have the following scheme

[code]

One would expect, that every time an instance of the structure is created, it will have the same size. But it turns out not to be the case. It turns out, that if you create an instance with `value

[2022-05-18 16:41] mikeholler commented on #7185
Hi @paulovap, I'm also interested in exploring an external support option to see if it would work with our team. We are currently attempting to build a common layer around the artifacts from the java, javascript, and flatcc generated sources, and there are a lot of implementation quirks between them that are hard to reconcile.

[2022-05-19 15:38] wisdom-yzh opened #7315 "[TS/JS] Support TypedArray as constructor parameters for byte/short/int array type"
Sample fbs idl file `payload.fbs` as below:

[code]

After creating an ts file via `flatc --ts --gen-mutable --gen-object-api ./payload.fbs`

i found that params of constructor as below:

[code]

As is known, TypedArray is much more effective and costs less memory, especially we've used `TextEncode.encode` to serialize the payload.

Adding some code after here make sense:

https://github.com/googl

[2022-05-19 19:20] StuartIanNaylor opened #7316 "flatbuffers-1.12.0 fails on compile"
Debian Bullseye Linux raspberrypi 5.15.32-v8+ #1538 SMP PREEMPT aarch64 GNU/Linux
[code]

[2022-05-19 21:31] kenroser opened #7317 "Optional Scalars is not supported for Python"
When support was added for Optional Scalars, it was never added for Python.
This is a request to complete the Python implementation.

[2022-05-20 22:19] yurivict opened #7319 "[feature suggestion] Unserializer should throw an exception when the data has an incompatible schema"
I have the project that reads TensorFlow NN files using C++.
When the latest TFLite schema v3b is used with flatbuffers-2.0.6 the unserializer just crashes on older NN files (from 2020).

Unserializer should throw an exception when incompatible schema is encountered to prevent such crashes and make error messages in applications more informative than just SEGV.

How can I tell now what schema was

[2022-05-22 19:28] cool-RR commented on #6957
@aardappel It's been 6 months, and this `DeprecationWarning` is still a nuisance. Could you make a new release soon please?

[2022-05-23 06:55] mikkelfj commented on #6014
I can't seem to find a reference to this, but for the record, FlatCC added optional types via this issue back in 2020:

https://github.com/dvidelabs/flatcc/issues/162

[2022-05-23 11:50] CasperN commented on #6014
We would support it, there's no technical blocker, its just unstaffed. I'm happy to review a PR though

[2022-05-23 12:13] #7319 closed

[2022-05-23 12:51] CasperN commented on #7309
Flatbuffers is largely immutable by design. We use relative pointers almost everywhere, which may be invalidated by any edits that resize items in the buffer. So a reflection only approach will run into a lot of challenges indexing and fixing all pointers in the buffer with every edit. As you've observed, the right solution to this would be to add reflection support to the object API, though that

[2022-05-23 13:55] kenroser commented on #6014
It looks like the support for Python is in this PR, https://github.com/google/flatbuffers/pull/7318

[2022-05-23 16:14] stephanemagnenat opened #7320 "[rust] Naming a union variable in camelCase generates broken code"
Using this schema:
[code]
generating the Rust output with `flatc -o dist --rust --gen-all schema.fbs` leads to the following broken code `self.camel_case_variable_type()` when generating printing code:
[code]

In non-minimized cases, broken code is also generated when casting the union to its possible members.

I am using the latest master as of today with hash 74a25536be1d3242f52d98007a6a03934b67

[2022-05-23 17:40] aardappel commented on #6957
@cool-RR see my last comment.

[2022-05-23 19:53] #7320 closed

[2022-05-24 08:11] clanghans opened #7323 "CMake FindFlatBuffers.cmake vs FlatbuffersConfig.cmake"
Hi all,

I have noticed an inconsistency in the CMake handling around the find_package mechanism.

If I use the FindFlatBuffers.cmake file I need to include it like this:
`find_package(FlatBuffers)` and if I want to use the config mode of the find_package mechanism I need to do
`find_package(Flatbuffers CONFIG)`.

According to the [CMake find_package documentation](https://cmake.org/cmake/help/lat

[2022-05-24 09:36] ChozoMaster opened #7324 "[golang] Code generator fails to generate any code for schemes with namespaces"
Hi everyone,
There seems to be an issue of generating go files when there are namespaces involved.

The reason for that is apparently that the go generator does not ensure that the according subdirectories are created. The result is that no files are generated and the "error" is

`error: Unable to generate Go for <scheme>.fbs`

The tests are in that regard faulty, because the folders in which the

[2022-05-24 15:04] tsturm commented on #7324
@CasperN No Problem :)

Pull Request is open #7325

[2022-05-24 17:46] latch-lio commented on #6087
Also interested on it

[2022-05-25 07:08] ofirm93 commented on #6087
If what you're looking for is Object API for Java then I implemented it and it got merged a few months ago, but it didn't get into the 2.0.0 release, so you either should build it from source yourself or wait for the next release.

[2022-05-25 07:13] latch-lio commented on #6087
@ofirm93 thank you. I manually generated the proto but once the new release is in, we'll definitively leverage your work!

[2022-05-25 09:18] jinfagang commented on #5881
@aardappel sorry interupt here. may I ask why I static cast a union ptr to it's real type caused core dump?

[code]

the main here is my unoin, which Conv2D is one of type. Why it core dumped?

[2022-05-25 18:10] aardappel commented on #5881
@jinfagang you are responding to an unrelated issue. I already responded to you on StackOverflow.

[2022-05-26 02:54] jinfagang commented on #5881
@aardappel Oh, thank U! I solved it.

[2022-05-26 03:26] jinfagang commented on #4403
@aardappel Hi, sorrry to bother again.

I want generate json of my flatbuffer buffer as well. But my schema is a little bit complicated, it has 4 files, the root_type in one of it, and include others, others also will include the rest.

How should I provide a schema here in such case? I don't want manually concate them into 1, that breaks my hierachy.

Also, I want make into a exectuable file, my

[2022-05-26 09:41] kuozhijishou opened #7326 "The converted structure is lost with python."
# version:

 windows release flatc version 2.0.0

# for Common.Tile.ids:
in the fbs's definition, "Common.Tile.ids" == "Common.Slice". All other programming languages can be found in "Common.Tile.ids" "Common.Slice". but Python can not, I just found out that “obj”, what it brings is a mistake.
Only Python faced this mistake, and I have no way to use it with python now .

##### fbs：
    namespace C

[2022-05-26 16:59] CasperN commented on #7326
What do you mean by "the converted structure is lost"?

[2022-05-26 18:25] TheButlah commented on #7220
Quick update on how this went:
I went with a vector of union of struct approach, which caused my team to basically stop targetting rust. Then due to the actual ergonomics of using a vector of unions instead of a table, we switched back to tables, which meant we could once again target rust. This was a relief, but meant I never worked on this feature other than some preliminary investigation of fla

[2022-05-27 01:27] kuozhijishou commented on #7326
Sorry, I may have a grammar problem using Google Translate.

in the fbs's definition, "Common.Tile.ids" == "Common.Slice". All other programming languages can be found in "Common.Tile.ids" "Common.Slice". but Python can not, I just found out that “obj”, what it brings is a mistake.

[2022-05-27 15:53] #7285 closed

[2022-05-28 11:54] #7270 closed

[2022-05-29 19:50] mustiikhalil opened #7329 "[Swift] Release 2.1.0"
I would love to release 2.1.0 where we have a new feature `Wasm` support. I've checked the current build. Code generation should be stable, however we won't have "Verifiers/JSON encoding code gen" since `flatc` isn't released yet. Should I release just a minor? or should I wait for the new release of flatc?

[2022-05-30 08:21] xf97 opened #7330 "Does flatbuffers support forward compatibility?"
There is one thing I'm trying to figure out, flatbuffers claims to support forward and backward compatibility, but in my actual use, flatbuffers crash when:
[code]
I would like to ask if such crashes are common, and if so, is it a problem caused by the encoding protocol or the implementation itself?

[2022-05-30 08:25] xf97 opened #7331 "Binary stability"
Now I'm developing a blockchain system and I want to use flatbuffers as the serializer/deserializer for this system, so I would like to know if flatbuffers are binary stable?

[2022-05-30 09:15] #7331 closed

[2022-05-30 09:15] #7330 closed

[2022-05-30 12:59] zhipairen opened #7332 "Whether it can support assemblyScript？"
I want to be able to use flatbuffers in assemblyScript projects, is it officially supported?

"assemblyscript": "^0.20.6"

[2022-05-30 15:58] CasperN commented on #7330
For others who come across this, we do support it but you have to follow rules described at https://google.github.io/flatbuffers/md__schemas.html

[2022-05-30 15:59] CasperN commented on #7332
No but we do support type script and we welcome contributions if that doesn't work for you

[2022-05-31 19:32] CasperN commented on #6636
@mustiikhalil found in #7269 that its possible for a type that doesn't have a `(private)` annotation to contain a type that does have such an annotation, effectively leaking the inner type to the world (and causing errors with the rather picky rust compiler). Before 3.0 we should change the `--no-leak-private-annotation` flag to `--allow-leak-private-annotation` and force users to migrate.

[2022-05-31 20:04] 06393993 opened #7334 "Fix Clang-Cl compile on Windows"
The CMake build script currently doesn't work for clang-cl on Windows, because clang-cl expects arugments similar to msvc, while the script will just pass in regular clang++ arguments.

I have uploaded PR #7308 to fix the issue. PTAL, thanks!

[2022-06-02 17:38] johnthagen commented on #6957
[The `imp` module will be removed in Python 3.12](https://docs.python.org/3.11/library/imp.html).

[Given that Python 3.11 recently entered beta](https://www.python.org/downloads/release/python-3110b1/), this means that very soon `flatbuffers` may not work on the latest Python development branch.

[2022-06-03 01:09] m3rcuriel opened #7336 "NestedVerifierTest failing"
I am building with cmake 3.23.1 and gcc 12.1.0 and I cannot for the life of me get the `NestedVerifierTest` to pass. I've commented out and all other tests pass, but it fails with error:

[code]

[2022-06-05 21:04] #7205 closed

[2022-06-08 03:42] jsyqrt opened #7341 "Output path option does not work on Windows [C++, flatc.exe all versions, win 10]"
When using flatc.exe downloaded from github release page to compile my schema file on windows 10, in a cmd environment, I found that the "-o" option doesn't work.

i.e. when I was in `C:\User\Test\Desktop`, and execute `C:\Users\Test\Downloads\flatc.exe --cpp  --gen-mutable --gen-object-api     --keep-prefix  -o "C:\Users\Test\Desktop\test\" "C:\Users\Test\Downloads\test.fbs"`

It generates test_g

[2022-06-08 14:36] teunFTW commented on #6957
@aardappel I agree with with @cool-RR that it would be really nice if a new release could be made soon! :)

[2022-06-13 13:16] #7317 closed

[2022-06-13 21:20] kenroser opened #7344 "Can't compile flatbuffers with devtoolset-7"
I'm using devtoolset-7, g++ version 7.3.1

I find master no longer builds with that compiler because the CMakeLists.txt always sets the compiler flag `Wextra-semi`

I'm no expert on CMakeLists.txt, but I do see `Wextra-semi` set apparently as a default on line 361, yet further on, the same flag is turned on based on compilers and their versions, such on line 368.

I believe this flag should be rem

[2022-06-14 01:09] haquocviet opened #7345 "There are much verbose of enum in generated C++ file."
Hello all,
I am using the latest flatbuffers compiler to generate C++ output file.
For each enum I define in the schema file, the compiler generates much verbose stuffs related to the enum such as EnumValuesXYZ and EnumNameXYZ. Is there any option to supress those from compiling?.

Thanks.

[2022-06-14 06:38] godcong commented on #7310
go did not port this feature...
Currently we can only wait for go panic

[2022-06-14 06:55] mustiikhalil commented on #7310
Hey,

So the verifiers are usually for languages that read directly from memory. Flatbuffers at least for now opted out of implementing the verifier for languages that use arrays, and go is one of those languages. Since reading out of bounds and panicking it better than an unidentified behavior when reading from memory

@CasperN correct me if I am wrong here.

[2022-06-14 09:03] johninn opened #7346 "error during make"
I got error during make

[ 41%] Building CXX object CMakeFiles/flatc.dir/grpc/src/compiler/ts_generator.cc.o
[ 42%] Linking CXX executable flatc
CMakeFiles/flatc.dir/src/flatc.cpp.o: In function `flatbuffers::FlatCompiler::AnnotateBinaries(unsigned char const*, unsigned long, std::__cxx11::basic_string<char, std::char_traits<char>, std::allocator<char> > const&, std::vector<std::__cxx11::basic_str

[2022-06-14 16:08] ahughes6 opened #7347 "[C++] Namespace shadowing leads to _generated.h that won't compile"
Given a namespace that contains a repeated entry, such as `a.b.a.c`, the generated c++ code will contain a nested namespace that shadows an outer namespace, causing the generated code not to compile. This is a problem when the namespace corresponds to the path where the `.fbs` is located and the path cannot be changed. Consider the following example `test.fbs`:
[code]
In the generated file `test_g

[2022-06-14 22:30] CasperN commented on #7310
There can be a verifier for any language imo. The idea is that once verified, we know we can read all the fields without issue. It's probably a good idea for Go to have a verifier, it just hasn't been implemented yet

[2022-06-14 22:51] #7191 closed

[2022-06-14 22:52] dbaileychess commented on #7299
This is because you are using a non-supported cmake version, see https://github.com/google/flatbuffers/blob/master/CMakeLists.txt#L4-L16

[2022-06-14 22:54] dbaileychess commented on #7302
Dupe: #7299

[2022-06-14 22:54] #7302 closed

[2022-06-14 23:00] dbaileychess commented on #7311
Can you post the full generated files for this case? I am assuming `#include "c_generated.h"` is included for some reason.

[2022-06-14 23:03] dbaileychess commented on #7313
It's because 0 is the default value for that field and we don't need to store the value in the buffer. The reason it grows by 8 bytes is most likely due to padding is inserted.

[2022-06-14 23:03] #7313 closed

[2022-06-14 23:04] dbaileychess commented on #7316
We really only fix forward, as we don't have a mechanism to create patches for older releases. Is this still an issue at head?

[2022-06-14 23:04] dbaileychess commented on #7323
Sure, PRs are welcome

[2022-06-14 23:05] #7324 closed

[2022-06-14 23:09] dbaileychess commented on #7336
Can you provide more details on how you are running it? I just grabbed ToT and ran
[code]

[2022-06-14 23:22] dbaileychess commented on #7341
I just tested this on my Windows machine at head

[code]

And it generated in the correct location:

[code]

[2022-06-14 23:33] dbaileychess commented on #7345
Is there a reason you don't want those? Compilers will strip out any unused functionality, so it isn't going to cause any bloat for your binaries to leave it.

[2022-06-14 23:34] dbaileychess commented on #7346
Its building at head, are you using a old build?

[2022-06-15 00:22] dbaileychess commented on #7311
I looked into this and I see what you mean. I put up a PR, can you take a look?

[2022-06-15 00:23] m3rcuriel commented on #7336
[code]

[code]

Followed by `cmake -G "Unix Makefiles"`, `make -j`, `./flattests`

result:
``flattests: /home/lee/Coding/flatbuffers/include/flatbuffers/verifier.h:46: bool flatbuffers::Verifier::Check(bool) const: Assertion `ok' failed.``

[2022-06-15 00:42] haquocviet commented on #7345
For the case of my schema file that has a lot of enums, the code for EnumValues-XYZ and EnumName-XYZ consumes about 15% to 20% of total generated code. That is pretty much for the features I do not need.
The flatbuffers compiler already has many arguments giving users the flexibility whether they want to have a certain generated feature or not. That is great!. So it will be better if the library s

[2022-06-15 01:54] dbaileychess commented on #7336
Ah, you are making it in Debug mode which will enable assertions. So the following test for expecting false https://github.com/google/flatbuffers/blob/master/tests/test.cpp#L4279 is throwing an asset before the test completes.

We should probably disable this for tests: https://github.com/google/flatbuffers/blame/master/CMakeLists.txt#L577

[2022-06-15 03:55] dbaileychess commented on #7336
This commit should fix it: https://github.com/google/flatbuffers/commit/d6060977adfc7742113d91a2dcb46976759c87c4 let me know.

[2022-06-15 04:28] m3rcuriel commented on #7336
Yup works perfectly.

[2022-06-15 04:28] #7336 closed

[2022-06-15 04:30] dbaileychess commented on #7347
Yeah, I believe protobufs does the :: preappend as well, this seems like a valid use case for justifying the increase verbosity of the generated code. Would you like to do a PR for this?

@CasperN Should we consider this part of the Namer interface as well?

[2022-06-15 04:33] dbaileychess commented on #7336
Sorry for the toil!

[2022-06-15 04:37] dbaileychess commented on #7345
We have to balance code complexity with flatc complexity of managing multiple flags and their consequences. I don't see much gain for adding a flag. Disk space is cheap for storing source code, so 15-20% of source code bloat doesn't seem bad in my opinion.

That said, I would welcome a PR to change it.

[2022-06-15 04:40] dbaileychess commented on #7326
Are you trying to say that the `obj` name in the following generated code should be named `slice`?

[code]

[2022-06-15 04:41] dbaileychess commented on #7316
If you need to fix this locally and cannot update, I would look into undefining `error=class-memaccess`

[2022-06-15 05:15] #7316 closed

[2022-06-15 06:49] kuozhijishou commented on #7326
Yes, this should be Slice, theoretically.

[2022-06-15 06:50] kuozhijishou commented on #7326
Yes, this should be Slice, theoretically.

[2022-06-15 11:19] mjvankampen commented on #7311
The PR gives the results I would expect!

[code]

[2022-06-16 20:47] calebzulawski opened #7354 "Unexpected --keep-prefix behavior"
After #7348, `--keep-prefix` has unexpected behavior.

Consider the following directory structure:
- `foo/foo.fbs`, which contains `include 'bar/bar.fbs';`
- `foo/bar/bar.fbs`

Run:
[code]

I'd expect the resulting `foo_generated.h` to contain `#include "bar/bar_generated.h"`, however with this change it results in `#include "foo/bar/bar_generated.h"`.  While it may be useful to add the `foo/` pre

[2022-06-16 22:06] insertjokehere commented on #7155
This appears to be working on master

[2022-06-16 22:06] #7155 closed

[2022-06-16 22:22] insertjokehere opened #7355 "Bool within struct generates invalid code [Dart, master]"
For a schema like:

[code]

Flatc will generate dart bindings like:

[code]

Which is syntactically correct, but `fbBuilder.putBool` is not a method, so compilation fails with: `The method 'putBool' isn't defined for the type 'Builder'.`

Moving the bool property into the table generates valid code, but to my understanding bools within structs should be supported?

[2022-06-17 11:25] Vincent9802 opened #7356 "recently build Flatbuffers project failed on release configuration on windows_x64.[C++, master]"
Hi All,

Flatbuffers failed on release configuration with MSVC on windows x64. Could you please help look at this issue or provide some workarounds? Thanks in advance.

**Error message**

 ==349780==ERROR: AddressSanitizer: container-overflow on address 0x1203b67a89f5 at pc 0x7ff6b3f1018c bp 0x0024864f4a30 sp 0x0024864f41c0
         WRITE of size 14 at 0x1203b67a89f5 thread T0
             #0 0x7f

[2022-06-18 01:45] ahughes6 commented on #7347
I created a few commits but it seems like a simple change to `src/idl_gen_cpp.cpp` is insufficient to solve this. I started exploring this further and changing [almost] every call to `WrapInNameSpace(...)` to `WrapInNameSpace(...).insert(0,"::")`. Changing the game test to have a silly repeated namespace seems to show that it is fixed now, but the fix seems a bit messy and I am not sure this was t

[2022-06-20 06:38] dennishendriksen opened #7358 "Exception when reading FlexBuffer fixed untyped Vector [Java, 2.0.3]"
[code]
results in
[code]
changing `builder.endVector(null, vectorRef, false, true);` to `builder.endVector(null, vectorRef, false, false);` resolves the issue. I'm not sure whether the issue is an invalid FlexBuffer or a bug in the reading code?

Looking into [the code](https://github.com/google/flatbuffers/blob/master/java/com/google/flatbuffers/FlexBuffersBuilder.java#L515) I noticed that the ve

[2022-06-20 08:38] silvanbrummen commented on #7311
Hi Derek,

Thanks for the effort you put in this PR. This indeed resolves the issue and leaves out the indirect includes.

[2022-06-20 08:39] #7311 closed

[2022-06-21 11:31] godcong opened #7360 "[golang]grpc used deprecated functions"
In the latest flatbuffers example,
grpc is still using the deprecated function
I searched the documentation and found that it should be changed to this

https://github.com/google/flatbuffers/blob/83a43fc7977b67259c6a78147cf1c09fe6af85f7/grpc/examples/go/greeter/client/main.go#L66

=>
[code]

I hope I'm using it the right way
I can provide PR if it is correct

[2022-06-21 11:38] mustiikhalil commented on #7360
Hey, so what you can do to verify is this is correct is to boot up the other grpc server/client and try to receive data from and to the go server/client

[2022-06-21 12:12] mustiikhalil commented on #7360
@godcong and its receiving data from the (swift/ts) server/client? If yes you can open a PR and i'll review it

[2022-06-21 14:08] kenroser commented on #7354
Since I believe this is regression, is there any chance this can be addressed quickly?   https://github.com/google/flatbuffers/pull/7348

[2022-06-21 23:02] musicinmybrain commented on #7282
The error message is confusing because the positions of expected and actual value parameters to `TEST_EQ_STR()` are reversed. This seems to be the case for a lot of the assertions in `tests/test_assert.h`.

[2022-06-22 07:04] godcong commented on #7360
@mustiikhalil
`ts` test code works correctly.
I'm sorry I haven't used `swift`, so I didn't try this piece

[2022-06-22 13:41] musicinmybrain commented on #7282
For the Fedora Linux `flatbuffers` package, the following allows tests to succeed with an out-of-source build on release 2.0.6:

[code]

The result looks like:

[code]

I’m not sure what the best way to make this work in the general case would be. You could perhaps use `add_compile_definitions` to pass in the values of `CMAKE_CURRENT_SOURCE_DIR` and `CMAKE_CURRENT_BINARY_DIR` as preprocessor macro

[2022-06-23 02:26] domoritz commented on #7190
@bjornharrtell could you take a look at this. It's preventing me from upgrading flat buffers in Apache Arrow.

[2022-06-23 12:13] bjornharrtell commented on #7190
@domoritz would like to but unlikely to be able to prioritize this in near future. You are welcome to work on it yourself.

[2022-06-23 14:22] romanholidaypancakes opened #7365 "How to make the field name of the json output by GenerateTextFromTable have double quotes"

[2022-06-23 14:43] #7365 closed, assigned to nobody

[2022-06-23 15:58] musicinmybrain opened #7366 "Compiling tests fails on s390x (big-endian) with -Werror=stringop-overflow"
Compiling the C++ tests with:

- Fedora Linux (35, 36, or 37/Rawhide)
- flatbuffers 2.0.6
- gcc 11.3.1 or 12.1.1

using the distribution’s default flags for RPM builds, I see the following error on `s390x`, which is the only big-endian primary architecture in Fedora Linux.

[code]

If I add `-Wno-error=stringop-overflow`, the build succeeds and the tests pass. I have not attempted to determine whe